/* 
 * Articles
 * 
 * @package lavantseine-v2
 */


$focusElement_height: 400px;


.module-focus {
	height: 600px;
	margin-bottom: $base_line_height * 3;
	position: relative;
 
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
	}

	.moduleInner {
		//max-width: 1250px;
		width: 100%;
		height: 100%;
		align-items: flex-end;

		@include up-to(medium) {
			display: block;
			height: auto;

			.focusEvent_infos {
				width: 100%;
				left: 0;
			}
			.focusElement_item {
				height: auto;
				width: 100%;

				.square {
					width: 30%;
				}
			}
		}
	}

	@include up-to(medium) {
		height: auto;

	}
}

	.focusElement-pastille {
		@include box-sizing;
		padding: 0.5em;
		font-size: 0.8em;
		color: $white;
		line-height: 1;
		position: absolute;
		height: 73px;
		width: 72px;
		top: -35px;
		right: 1em;
		background-image: url('assets/img/cocarde.png');
		background-repeat: no-repeat;
		text-align: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: $bold;
		font-family: $font_family_title;
		z-index: 99;
		
		span {
			display: inline-block;
			width: 100%;
		}
	}

	.focusEvent_infos {
		@include box-sizing;

		background-color: rgba(0,0,0,0.6);
		color: $white;
		padding: $base_line_height;
		height: 30%;
		left: 2%;
		position: relative;
		z-index: 0;

			span {
				@include type-setting(-2);
				font-family: $font_family_title;
				color: $color_primary;

				p {
					margin: 0;
				}
			}
	}

	.focusElement_item  {
		height: $focusElement_height;
		background-color: $white;
		position: relative;
		height: 60%;
		
		.inner {
			padding: 1em;
			word-wrap: break-word;
		}
		h3 {
			color: $color_primary;
		}
	}
		.focusElement_media {
			height: 100px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}