/* 
 * Footer
 * 
 * @package Plateforme ELSA v2
 */



.site-footer {
  margin-top: $base_line_height * 6;
  border-top: 3px solid $color_primary;
  padding: $base_line_height 0;


  @include up-to(medium) {
    .site-logo {
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin-bottom: $base_line_height;
    }
  }

}

  .footer-divider {
    background-color: $color_primary;
    height: $base_line_height;
    margin-bottom: $base_line_height;
    margin-top: $base_line_height;
  }

  .footer_text {
    padding-right: $base_line_height * 2;
  }

  .footer_menus {

    ul {
      margin-bottom: $base_line_height * 1.5;
    }
    li {
      margin-bottom: $base_line_height / 2;
    }
    .shortcode_wysija {
      margin-top: - $base_line_height * 0.75;
    }

    @include up-to(medium) {
      clear: both;
      float: left;
      margin-top: $base_line_height * 3;
    }
  }

  .social_links {
    a {
      margin-left: $base_line_height / 2;
    }
  }