/* 
 * Header
 * 
 * @package lavantseine-v2
 */

.site-header {


	&.sticky {
		position: fixed;
		left: 0;
		right: 0;
	}
}


.site-branding {
	float: left;
}

.site-menus {
	display: inline-block;
	background-color: $white;
	opacity: 0.98;
}