/* 
 * Header
 * 
 * @package lavantseine-v2
 */



.site-header {
	background-color: $black;
	color: $white;
	opacity: 0.98;
	height: $menu_height;
	line-height: $menu_height;

	&.sticky {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}
}


.site-branding {
	width: $logo_width;
	position: absolute;
	left: 0;
	top: 0;

	img {
		width: 100%;
	}
}
