/* 
 * Modals
 * 
 * @package Plateforme ELSA v2
 */



.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;

  .bxslider {

    img {
      width: auto; 
      margin: auto;
      max-height: 80vh;
    }
  }
}
  .modal_inner {
    position: absolute;
    background-color: $white;
    display: block;
    margin: auto;
    padding: $base_line_height * 2;
    top: 50%;
    left: 0;  
    right: 0;
    transform: translateY(-50%);
    max-height: 95vh;
    overflow-y: scroll;

    .page_content {
      padding: $base_line_height * 3;
    }
    h1 {
      margin-bottom: $base_line_height * 2;
    }

    @include up-to(medium) {
      padding: $base_line_height;
    }
  }
    .modal_close {
      position: absolute;
      right: $base_line_height / 2;
      top: $base_line_height / 2;
      
      @include up-to(medium) {
        right: 2px;
        top: 2px;
      }
    }


.modal-sharebymail {
  //display: block;
}