




.slide-out-div {
  display: none !important;
}


.gema75_wc_wc_count_badge {
  display: inline-block;
  margin-left: $base_line_height / 3;
  color: $color_primary; 
  border: 1px solid $color_primary;
  text-align: center;
  line-height: 9px;
  padding: 5px;

  @include up-to(medium) {
    border-color: $white;
    color: $white;
  }
}


.gema75_read_it_later_text {
  display: inline-block;
  padding-left: $base_line_height;
  background-repeat: no-repeat;
  background-image: url('_img/book_full');
  background-size: auto $base_line_height;
  color: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;

  .list_item_inner & {
    padding-top: $base_line_height * 1.5;
    padding-left: 0;
    font-size: 12px !important;
    line-height: 12px;
    max-width: $base_line_height * 2;
    min-width: $base_line_height;
    color: $gray_light;
  }
}

.readitlater_msg {
  display: block;
  background: none;
    font-size: 12px !important;
    line-height: 12px;
    max-width: $base_line_height * 2;
    min-width: $base_line_height;
    color: $gray_light;  
}


.addedToRilListButton {
  background-image: url('_img/book_full.png');
}
.addToReadItLaterButton {
  background-image: url('_img/book_empty.png');
}