
.page-template-page-programmation {
    background-color: $gray_light;
}


.archive_month {
    background-color: var(--color-five);
    padding: 30px 0 0 0;
    position: relative;

    .archive_month_bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: rotate(180deg);
        z-index: -1;
        width: 100%;
    }
}

.archives_magazine {
    .mod_magazine + .mod_magazine {
        .bg_upper {
            background-color: var(--color-five);
        }
    }
    
}
.archives_inner {
    background-color: $gray_light;
    padding: $marge 0;
    position: relative;
    z-index: 2;

    .archives_bg {
        z-index: -1;
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;

        img {
            width: 100%;
        }
    }
}

.archive,
.page-template-page-programmation {
    .no_results {
        padding: 100px;
    }   
}

.archives_group {
    padding: 0;

    .group_title {
        padding: 20px;
        background-color: var(--color-five);
        cursor: pointer;
    }

    .group_list {
        transition: all .3s;
        &.small {
            max-height: 0 !important;
            overflow: hidden;
        }
    }
}