
.page-template-page-programmation {
    background-color: $gray_light;
}


.archive_month {
    background-color: $jaune;
    padding: 20px;
}


.archives_magazine {
    background-color: $gray_light;
    padding: 40px 0;
}