
* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	position: relative;
	overflow-x: hidden;
}
.site {
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
}
.no-scroll {
	overflow: hidden;
}