
* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	position: relative;
	overflow-x: hidden;
}
.site {
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
}
.no-scroll {
	overflow: hidden;
}

.page-template-default:not(.home) {
	.site-content {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-image: url('../Components/textures/yellow_horiz.png');
			background-repeat: no-repeat;
			transform: rotate(180deg);
		}
		@include at-least(medium) {
			padding-top: 140px;
		}
		@include up-to(medium) {
			padding-top: 40px;
		}
	}
	.pagehead {
		.big_typo {
			max-width: 900px;
		}
		img {
			display: inline-block;
		}
	}
	.pagecontent {
			max-width: 900px;

	}
}


