.single-event {
    background-color: $gray_light;

    .single_texts {
        background-color: white;
        padding: 60px;
    }

    .single_taxmedia {
        width: 54px;
        height: 54px;
    }

    .single_frame {
        background-color: white;
        overflow: hidden;
    }
    .frame_row {
        padding: 15px;
        border-bottom: 1px solid;
        
    }
    .frame_row:has(.frame_col),
    .frame_row.--nopad {
        padding: 0px;
    }
    .frame_col:first-child {
        border-right: 1px solid;
    }
    .frame_col {
        width: 50%;
        padding: 15px;
    }
    .single_partners_logo {
        max-width: 120px;
        max-height: 100px;
    }
    .single_logo_festival {
        max-width: 200px;   
        max-height: 200px;   
    }
}


.type-post {
    background-color: $gray_light;
    padding: 40px 0;

    .single_header {
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 30px 0;
    }

    .single_cover {
        img {
            max-height: 50vh;
            width: 100%;
            object-fit: cover;
        }
    }

}

.single_services {
    .single_servicemedia {
        max-width: 48px;
        height: auto;
    }
}