/* 
 * Lists
 * 
 * @package lavantseine-v2
 */


.bloc-event {
	margin-bottom: $base_line_height;
	padding: 0;

	&:hover {
		.blocEvent-infos {
			display: block;
		}
	}
}

	.blocEvent-media {
		position: relative;
	}
		.blocEvent-infos {
			display: none;
			background-color: rgba(0,0,0,0.9);
			color: $white;
			text-align: justify;
			padding: 0.5em;
		}

	.blocEvent-lower {

	}