/* 
 * Lists
 * 
 * @package lavantseine-v2
 */


// EVENTS

.bloc-event {
	margin-bottom: $base_line_height * 2;
	padding: 0;

	&:hover {
		.blocEvent-infos {
			display: block;
		}
	}

	.blocEvent-title {
		color: $color_primary;
	}
}

	.blocEvent-upper {
		height: 200px;
		position: relative;
	}
	.blocEvent-media {
		height: 100%;
	}
		.blocEvent-infos {
			display: none;
			background-color: rgba(0,0,0,0.9);
			color: $white;
			text-align: justify;
			padding: 0.5em;
		}
		.blocEvent-actions {
			a {
				display: block;
				text-align: center;

				&:first-child {
					margin-bottom: $base_line_height / 2;
				}
			}
		}

	.blocEvent-lower {

	}



	// ARTICLES

	.bloc-article {
		margin-bottom: $base_line_height;

		.blocArticle-terms {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}

		.h5 {
			color: $color_primary;
		}
	}

		.blocArticle-upper {

		}

		.blocArticle-lower {
			padding: 1em;
			background-color: $gray_light;
		}


	.blocArticle--big {

		.blocArticle-lower {
			background-color: $black;
			color: $white;
		}
		.blocArticle-title {
			max-width: 70%;
		}
	}



