
/* 
 * SWIPER
 */

.swiper-btn-prev,
.swiper-btn-next {
    cursor: pointer;
}


/* 
 * SECTIONS
 */

section {
    padding: 60px 0;
    @include up-to(medium) {
        padding: 30px 0;
    }
}

.mod_slider {
    padding: 0;
    position: relative;

    .mod_nav {
        .swiper-btn-prev {
            position: absolute;
            left: 20px;
            top: 45%;
            z-index: 2;
        }
        .swiper-btn-next {
            position: absolute;
            right: 20px;
            top: 45%;
            z-index: 2;
        }
        path {
            stroke: white;
        }
    }
}



.mod_pagealone {
    background-position: bottom -108px center;
    background-repeat: no-repeat;
    background-size: 100% 217px;

    .bloc_cover_outer {
        aspect-ratio: 4/3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bloc_texts {
        @include up-to(medium) {
            order: 2;
        }
    }
}


.mod_pagecolumns {
    padding: 80px 0;
    .mod_icon {
        max-width: 100px;
    }

    .wrapper > div {
        @include up-to(medium) {
            flex-direction: column;
            gap: 20px
        }
    }
}


.mod_contact {
    padding: 100px 0;
    position: relative;
    overflow: hidden;

    .texture {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 50vw;
        bottom: 0;
        height: 100%;
        object-fit: cover;

        &.inversed {
            transform: scaleX(-1);
            right: 0;
            left: auto;
        }
    }
    .mod_title  {
        color: yellow;
        text-align: center;
    }
}

.texture {
    img {
        width: 100%;
    }
}
.texture--inversed {
    transform: rotate(-180deg);
}


.mod_magazine {
    position: relative;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .mod_bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

    }
    .bg_upper {
        background-color: var(--color-three);
        height: 60%;
        flex: 0 0 60%;
    }
    .bg_lower {
        background-color: var(--color-five);
        height: 40%;
        flex: 0 0 40%;
    }
    .inner {
        position: relative;
        z-index: 1;
    }
    .mod_upper {
        @include up-to(large) {
            flex-direction: column;
            gap: 20px
        }
    }
    .mod_nav {
        position: relative;
    }
} 

.mod_magtitle {
    padding: 60px 0;
    background-color: var(--color-three);
    .wrapper {
        justify-content: center;
    }
    img {
        @include up-to(large) {
            display: none
        }
    }
    @include up-to(large) {
        padding: 30px 0;
    }
}

.mod_progtitle {
    background-color: var(--color-five);

    img {
        @include up-to(large) {
            display: none
        }
    }
}


.mod_banner {

    .mod_picto img {
        max-width: 100px;
    }
    .cover_aside {
        @include up-to(large) {
            display: none
        }
    }
}

.mod_calendar {
    position: relative;
    background-color: var(--color-one);
    transition: all .3s;
    max-height: 1000px;
    min-height: 150px;

    &.loading {
        max-height: 200px;
        min-height: 200px;
        overflow: hidden;
    }
    .mod_title {
        color: var(--color-five);
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 40px;
    }

    .loader {
        transition: all .4s;
        background-color: var(--color-one);
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            max-height: 100px;
        }
    }

    .swiper-dates {
        margin: 0 5vw 40px 5vw;
        overflow: hidden;
        position: relative;
        padding: 0 60px;

    	@include up-to(large) {
            margin: 0 2vw 20px 2vw;
        }
    }
        .dates-btn-prev,
        .dates-btn-next {
            position: absolute;
            z-index: 3;
            cursor: pointer;
            background-color: var(--color-one);
            height: 100%;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                stroke: white;
            }
        }
        .dates-btn-prev {
            left: 0;
            justify-content: flex-start;
        }
        .dates-btn-next {
            right: 0;
            justify-content: flex-end;
        }
        .swiper-button-disabled {
            opacity: .2;
            pointer-events: none;
        }
        .month {
            aspect-ratio: 1/1;
            color: var(--color-five);
            .inner {
                height: 100%;
                width: 100%;
            }
        }
        .date {
            aspect-ratio: 1/1;

            &:not(.inactive) {
                cursor: pointer;
                background-color: var(--color-three);
            }
            &.inactive {
                background: none;
            }

            .inner {
                height: 100%;
                width: 100%;
                color: white;
            }
        }

    .swiper-calendar {
        position: relative;
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 0 3vw;
        overflow: hidden;
        @include up-to(large) {
            margin-left: 2vw;
            margin-right: 2vw;
        }
    }
    .cal-btn-prev,
    .cal-btn-next {
        position: absolute;
        z-index: 3;
        height: 100%;
        width: 3vw;
        top: 0;
        background-color: var(--color-one);
        display: flex;
        align-items: center;
        cursor: pointer;
        
        path {
            stroke: white;
        }
    }
    .cal-btn-prev {
        left: 0;
        justify-content: flex-start;
    }
    .cal-btn-next {
        right: 0;
        justify-content: flex-end;
    }
}


.mod_twocols {
    .mod_title {
        border-bottom: 1px solid black;
        padding-bottom: 40px;
        p {
            margin-bottom: 0;
        }
    }
    img {
        display: inline-block;
    }
}



/* Texte défilant */

$duration: 20000s;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
 }

.ticker-wrap {
    width: 2000%;
    overflow: hidden;
    height: 4rem;
    padding-left: 5%;
    box-sizing: content-box;
    
    .ticker {
        display: inline-block;
        height: 4rem;
        line-height: 4rem ;
        white-space: nowrap;
        padding-right: 10%;
        box-sizing: content-box;
        -webkit-animation-iteration-count: infinite ;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: $duration;
        animation-duration: $duration;
    }

    .ticker__item {
        display: inline-block;
        padding: 0 1rem;
        font-size: 1.8rem;
        line-height: 1.6;
        font-family: $title_font_family;

        &:nth-child(1n) {
            color: var(--color-three);
        }
        &:nth-child(2n) {
            color: var(--color-four);
        }
        &:nth-child(3n) {
            color: var(--color-one);
        }
    }
}
.agenda-ticker{
  border-bottom: 1px solid black;
}



// ACCORDEONS
	
.accordeon-title {

	.title {
		margin-bottom: 0;
        color: var(--color-one);
    }
	&:hover {
		cursor: pointer;
    }
    span {
        transition: transform .3s;
        path {
            stroke: var(--color-four);
        }
    }
}
.close {
	span {
		transform: rotate(-90deg);
	}
}
.accordeon-content {
	margin: 10px 0;
	transition: all .5s;
	overflow: hidden;

	.close & {
		max-height: 0 !important;
    }
}






.mod_spectacles {
    position: relative;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: contain;

    .mod_bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

    }
    .bg_upper {
        background-color: var(--color-four);
        height: 60%;
        flex: 0 0 60%;
    }
    .bg_lower {
        background-color: var(--color-five);
        height: 40%;
        flex: 0 0 40%;
    }


}


.mod_visuels {
    background-color: var(--color-four);
    position: relative;

    .mod_nav {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
    }
    .swiper-wrapper {
        align-items: center;
    }
}