

.modal {
	transition: all 0.5;
	display: none;
	position: absolute;
	background: white;
	border-top: 1px solid var(--color-four);
	border-bottom: 1px solid var(--color-four);
	padding-top: 20vh;
	padding-bottom: 20vh;
	z-index: 3;
	right: 0;
	left: 0;
	overflow: scroll;
	height: 100vh;
}
.siteMenus-searchform {
	display: none;
	background-color: var(--color-one);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 15vh;

	.btn-nude {
		color: $white;
	}
}

#searchform-close {
	color: $white;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 10%;
	right: 5%;
}


.popin_outer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .3);
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popin_bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
}
    .bg_upper {
        background-color: var(--color-five);
        height: 50%;
        flex: 0 0 50%;
    }
    .bg_lower {
        background-color: var(--color-four);
        height: 50%;
        flex: 0 0 50%;
	}

.popin_inner {
	max-width: 60vw;
	max-height: 70vh;
	box-shadow: 0 0 10px black;
	position: relative;
    background-position: center 47%;
    background-repeat: no-repeat;
    background-size: contain;

	@include up-to(large) {
		max-width: 90vw;
		max-height: 90vh;
	}
	.popin_contents {
		overflow-y: scroll;
		height: 100%;
		padding: 40px 100px 40px 40px;
		max-height: 70vh;
		@include up-to(large) {
			padding: 60px 20px;
	    	max-height: 90vh;
		}
	}

	.popin_media {
		width: 600px;
		max-width: 100%;
	}
	.popin_content {
		position: relative;
		z-index: 99;
		color: black;
	}
	.popin_close {
		position: absolute;
		top: 30px;
		right: 20px;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 9999;
		@include up-to(medium) {
			top: 20px;
			right: 15px;
		}
	}
}