

.site-header {
    display: flex;
    background-color: var(--color-four);
    padding-right: 3vw;
    padding-left: 3vw;
    position: relative;

    @include up-to(medium) {
        padding-right: 20px;
        padding-left: 10px;
    }

    & > div {
        width: 100%;
    }

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-102%);
		transition: transform .4s;
		z-index: 9999;
	}

	&.in {
		transform: none;
	}

    &:has(.sub-menu) {
        margin-bottom: 0;
    }
}

.header-navigation {
    @include up-to(medium) {
        transition: transform .4s;
        transform: translateX(-100vw);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: var(--color-four);
        z-index: 9999;

        & > div {
            height: 100%;
        }
        .menu {
            height: 100%;
            flex-direction: column;
            padding: 80px 40px;
            overflow-y: scroll;
            gap: 20px;
        }
        .sub-menu {
            position: relative;
            flex-direction: column;
        }

        &.open {
            transform: none;
        }
    }
}

#close_menu {
    position: absolute;
    top: 30px;
    right: 20px;

    path {
        stroke: #fff;
    }
    
    @include at-least(medium) {
        display: none;
    }
}


.header-hamburger {
    width: 40px;
    background: rgba(0,0,0,0);
    cursor: pointer;
    flex-shrink: 0;
    gap: 10px;
    flex-direction: column;
    @include at-least(medium) {
        display: none;
    }
    @include up-to(medium) {
        display: flex;
    }
}
.burger-menu__stick {
    display: block;
    height: 1px;
    left: 0;
    transform: rotate(0deg);
    transition: transform .25s ease-in-out;
    transform-origin: left center;
    will-change: transform;
    background-color: #fff;

    &:first-child {
        transform-origin: left center;
    }

}

.header_texture {
    position: absolute;
    z-index: 0;
    height: 100%;
    left: 0;

    @include up-to(medium) {
        display: none;
    }
}

.header-branding {

    .logo_link {
        position: relative;
        z-index: 1;
        padding: 10px 0;
        display: block;

        img {
            @include up-to(large) {
                height: 70px;
                width: auto;
            }
            @include at-least(large) {
                width: 100px;
            }
        }

    }



}

.main-navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 45px;
    }
    a {
        font-size: 2rem;
        line-height: 1;
        font-weight: $book;

        @include up-to(wide) {
            font-size: 1.7rem;
        }
        @include up-to(large) {
            font-size: 1.5rem;
        }
        @include up-to(medium) {
            font-size: 2rem;
        }
        &:hover {
            opacity: .5;
        }
    }
    .current-page-parent > a,
    .current-menu-item > a {
        color: white;
    }
    .sub-menu {
        left: 0;
        right: 0;
        padding: 20px;

        a {
            color: white;
        }
        &.displayed {
            transform: none;
            opacity: 1;
            z-index: 3;
        }
        @include up-to(large) {
            flex-wrap: wrap;
            gap: 15px;
            padding: 15px;
        }
        @include at-least(medium) {
            background: var(--color-one);
            top: 100%;
            transform: translateY(-500%);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
        }
    }

}






/* 
 * FOOTER
 */

.site-footer {
    background-color: var(--color-four);
}
.footer_upper {
    background-color: var(--color-four);
    padding: 40px;

    @include up-to(large) {
		padding: 20px 0;
	}

    .site-logo {
        width: 160px;
    }
}
.footer_lower {
    background-color: var(--color-one);

    .wrapper {
        position: relative;
        @include at-least(large) {
            top: -170px;
        }
    }
}
.footer-navigation {
    padding: 80px 0 20px; 

    ul {
        @extend .no-bullets;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    a {
        font-size: 1.5rem;
        color: white;
    }
}