
$icon_dim: 50px

.rounded-icon
	width: $icon_dim
	height: $icon_dim
	line-height: $icon_dim
	text-align: center
	color: $white
	border-radius: 50%
	background-color: $blue


.icon-menu,
.icon-close
	font-size: 42px
	color: $red
	display: inline
	line-height: 0
	vertical-align: sub

