
$icon_dim: 50px

.rounded-icon
  width: $icon_dim
  height: $icon_dim
  line-height: $icon_dim
  text-align: center
  color: $white
  border-radius: 50%
  background-color: $primary_color
	
  span:before
    line-height: 50px

.icon-menu,
.icon-close
  font-size: 42px
  color: $secondary_color
  display: inline
  line-height: 0
  vertical-align: sub



.hamburger 
  font: inherit
  display: inline-block
  overflow: visible
  margin: 0
  padding: 0
  cursor: pointer
  transition-timing-function: linear
  transition-duration: .15s
  transition-property: opacity,filter
  text-transform: none
  color: inherit
  border: 0
  background-color: transparent


.hamburger-box
  position: relative
  display: inline-block
  width: 20px
  height: 15px

.hamburger--slider .hamburger-inner
  top: 2px
  left: 0

.hamburger-inner, 
.hamburger-inner::after,
.hamburger-inner::before 
  position: absolute
  width: 20px
  height: 3px
  transition-timing-function: ease
  transition-duration: .15s
  transition-property: transform
  border-radius: 2px
  background-color: $secondary_color

.hamburger--slider .hamburger-inner::before 
  top: 7px
  transition-timing-function: ease
  transition-duration: .15s
  transition-property: transform,opacity

.hamburger-inner::after,
.hamburger-inner::before 
  display: block
  content: ""

.hamburger-inner::after
  bottom: -14px

.hamburger--slider.is-active .hamburger-inner 
  transform: translate3d(0,8px,0) rotate(45deg)

.hamburger--slider.is-active .hamburger-inner::before 
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0)
  opacity: 0

.hamburger--slider.is-active .hamburger-inner::after 
  transform: translate3d(0,-14px,0) rotate(-90deg)



