


a
	color: inherit
	text-decoration: none

	&:hover
	

.btn-primary
	background-color: $blue
	color: $white
	font-size: 16px
	line-height: 1
	padding: .4em 1em
	font-weight: $black
	display: inline-block
	border: none

	&:hover
		cursor: pointer
		background-color: $red
		color: $white

.btn-primary--big
	@extend .btn-primary
	font-size: 22px

.btn-primary--white
	@extend .btn-primary
	background-color: $white
	color: $blue

	&:hover
		background-color: $blue
		color: $white

.btn--little
	color: $red
	text-decoration: none
	font-size: 14px
	font-weight: $bold

.btn-inline
	color: inherit
	text-decoration: none
	font-weight: $bold
	line-height: 17px
	height: 18px
	display: inline-block

	&:before
		content: ' + '
		background-color: $red
		color: $white
		border-radius: 50%
		text-align: center
		height: 18px
		width: 18px
		display: inline-block
		line-height: 18px 
		font-weight: bold
		font-size: 22px
		margin-right: 5px

	&:hover
		color: $red



.btn-nude
	font-size: 16px
	line-height: 11px
	background: none
	padding: .5em 1em


	&:hover
		background-color: $red
		cursor: pointer




