


a
	color: inherit
	text-decoration: none

.btn-primary
	background-color: $blue
	color: $white
	font-size: 18px
	line-height: 11px
	padding: .5em 1em
	font-weight: $black
	display: inline-block

.btn--little
	color: $red
	text-decoration: none
	font-size: 14px
	font-weight: $bold



