
.bloc_slide {
    position: relative;
    min-height: 400px;
    background-color: $gray; 


    .wp-post-image {
        width: 100%;
        aspect-ratio: 16/9;
        max-height: 80vh;
        object-fit: cover;
        @include up-to(medium) {
             aspect-ratio: 9/16;
        }
    }

    .bloc_text {
        position: absolute;
        bottom: 0;
        left: 3vw;
        //max-width: 50vw;
    }
    .bloc_title {
        color: white;
        position: relative;
        z-index: 1;
        padding-bottom: $marge;
    }
    .bloc_festival {
        max-width: 175px;
    }
    .bloc_texture {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        max-height: 300px;
    }
    // .plyr__video-embed {
    //     aspect-ratio: unset;
    //     iframe {
    //         position: relative;
    //         aspect-ratio: 16/9;
    //         max-height: 80vh;
    //         @include up-to(medium) {
    //             aspect-ratio: 9/16;
    //         }
    //     }
    // }

    .plyr--video .plyr__controls,
    .plyr--full-ui.plyr--video .plyr__control--overlaid {
        display: none !important;
    } 
}

.bloc_event {
    background-color: white;
    
    a {
        height: 100%;
    }
    .bloc_upper {
        border-bottom: 1px solid;
        min-height: 50px;
        padding-left: 10px;
    }   
    .bloc_lower {
        padding: 10px;
        flex: 1 1 auto;
    }
    .bloc_cover_outer {
        aspect-ratio: 5/3;
    }
    .bloc_img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .item-names {
        width: 50%;
        flex: 0 0 auto
    }
    .item-dates {
        text-transform: lowercase;
    }
    .item-tags {
        flex: 0 0 auto
    }
    .bloc_taxmedia {
        height: 50px;
    }
}




.bloc-magazine {
    background-color: white;
    padding: 20px;

    .bloc_cover_outer {
        aspect-ratio: 4/3;
    }
    .bloc_cover {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

