

img {
	display: block;
	max-width: 100%;
	height: auto;
	
	&.alignleft {
		float: left;
		margin-right: 20px;
	}
}

figure {
	max-width: 100%;
}
.bg_cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
