

img {
	display: block;
	max-width: 100%;
	height: auto;
	
	&.alignleft {
		float: left;
		margin-right: 20px;
	}

	&.rounded {
		border-radius: 50%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}
}

figure {
	max-width: 100%;
}
.bg_cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

iframe {
	display: block;
}