

.hidden,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    opacity: 0;
    visibility: hidden;
}

// POSITIONS

.is-relative {
    position: relative;
}
.is-absolute {
    position: absolute;
}

.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

// MARGINS

$marge: 15px;
$marge-medium: 30px;
$marge-large: 60px;
$marge-xlarge: 100px;
$marge-xxlarge: 240px;

.mb-0 {
    margin-bottom: 0;
}
.mb-small {
    margin-bottom: $marge;
}
.mb-medium {
    margin-bottom: $marge-medium;
}
.mb-large {
    @include at-least(medium) {
        margin-bottom: $marge-large;
    }
    @include up-to(medium) {
        margin-bottom: $marge-medium;
    }
}
.mb-xlarge {
    @include at-least(medium) {
        margin-bottom: $marge-xlarge;
    }
    @include up-to(medium) {
        margin-bottom: $marge * 5;
    }
}
.mb-xxlarge {
    @include at-least(medium) {
        margin-bottom: $marge-xxlarge;
    }
    @include up-to(medium) {
        margin-bottom: $marge-xlarge;
    }
}



.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}


// FLEX

.flex {
    display: flex;

    &.--vcentered {
        justify-content: center;
    }
    &.--centered {
        justify-content: center;
        align-items: center;
    }
    &.--end {
        justify-content: flex-end;
    }
    &.--col {
        flex-direction: column;
    }
    &.--jstf {
        justify-content: space-between;
    }
    &.--top {
        align-items: flex-start;
    }
    &.--hcentered {
        align-items: center;
    }
    &.--hbottom {
        align-items: flex-end;
    }
    &.--bottom {
        align-items: flex-end;
    }
    &.--justify {
        justify-content: space-between;
    }
    &.--wrap {
        display: flex;
        flex-wrap: wrap;
    }
    &.--gap-xs {
        gap: 10px;
    }
    &.--gap-s {
        gap: 20px;
    }
    &.--gap-m {
        gap: 40px;
    }
    &.--gap-l {
        gap: 80px;
    }

    .s_12col {
        @include up-to(medium) {
            width: 100%;
        }
    }

    .s_6col {
        @include up-to(medium) {
            width: 48%;
        }
    } 
    .m_3col {
        @include at-least(medium) {
            width: 23%;
        }
    }
    .m_6col {
        @include at-least(medium) {
            width: 48%;
        }
    }
    .l_3col {
        @include at-least(large) {
            width: 23%;
        }
    }
}


.--block {
    display: block;
}


.inversed {
    transform: scaleX(-1);
}

