

@font-face {
	font-family: Circular;
	font-weight: 700;
	src: url(fonts/CircularPro-Bold.otf);
}
@font-face {
	font-family: Circular;
	font-weight: 700;
	src: url(fonts/CircularPro-Bold.otf);
}
@font-face {
	font-family: Circular;
	font-weight: 400;
	src: url(fonts/CircularPro-Book.otf);
}
@font-face {
	font-family: Circular;
	font-weight: 900;
	src: url(fonts/CircularStd-Black.otf);
}

// FAMILIES

$circular: Circular, Arial, Helvetica, sans-serif;
$title_font_family: $circular;


// WEIGHTS 
$black:			900;
$bold: 			700;
$book: 			400;


html {
	font-size: 62.5%;
}
body {
	font-family: $circular;
	font-size: 16px;
}



// HEADS
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.h1 {
	font-size: 10rem;
	line-height: 1;
	font-weight: 700;

	@include up-to(large) {
		font-size: 8rem;
	}
}
.h1_2 {
	font-size: 8rem;
	line-height: 1;
	font-weight: 700;

	@include up-to(large) {
		font-size: 6rem;
	}
}
.h1_3 {
	font-size: 6rem;
	line-height: 1;
	font-weight: 700;

	@include up-to(large) {
		font-size: 6rem;
	}
}
.h2 {
	font-size: 2.8rem;
	font-weight: bold;
	line-height: 1.2;
}
.h2_2 {
	font-size: 4rem;
	font-weight: 100;
	line-height: 1.1;
	p {
		font-size: inherit;
		line-height: inherit;
	}
}
.h2_3 {
	font-size: 5rem;
	font-weight: 100;
	font-style: italic;
	line-height: 1;
}

.h3 {
	font-size: 2.4rem;
	line-height: 1;
}
.h4 {
	font-size: 2rem;
	line-height: 1;
}
.h4_2 {
	font-size: 1.8rem;
	line-height: 1;
}


// BODY

p {
	margin-top: 0;
	font-size: 1.5rem;
	line-height: 1.5;
}

.big_typo {
	font-size: 2.6rem;
	line-height: 1.2;
		p {
		font-size: inherit;
		line-height: inherit;
	}
}

.tag {
	display: inline-block;
	border: 1px solid black;
	font-size: 1.5rem;
	line-height: 1;
	padding: 5px 10px;
	transition: background-color .3s, color .3s;

	&.active,
	&:hover {
		background-color: black;
		color: white;
	}
}

.label_1 {
	font-size: 1.4rem;
	text-transform: uppercase;
}
.label_2 {
	font-size: 2.4rem;
	font-weight: bold;
}