

// COLORS

$white:				#fff;
$gray:				rgb(226, 226, 226);
$gray_light:	    #F4F4F4;

// 2026
$rose : #EA4B94;
$green : #00975D;
$jaune: #FFD500;
$bleu: #0053A2;
$bleu_fonce: #2C1658;


// $primary_color: $blue // old primary
// $primary_color: $violet // old primary
$primary_color: $bleu_fonce;


// $secondary_color: $red // old secondary
// $secondary_color: $orange // old secondary
$secondary_color: $rose;