/* 
 * event template
 * 
 * @package lavantseine-v2
 *
 */


.event-header {
	height: 500px;
}
	.event-layer {
		margin-bottom: $base_line_height * 2;
		position: relative;
	}
	.eventHeader-inner {
		align-items: flex-end;
		height: 100%;
	}
		.eventHeader-title {
			background-color: rgba(0,0,0,0.85);
			color: $white;
			padding: $base_line_height;
		}
		.eventHeader-date {
			background-color: rgba(255,255,255,0.99);

			& > .inner {
				padding: $base_line_height;
			}			

			.h3 {
				color: $color_primary;
			}
		}
			.eventHeader-actions {
				background-color: $gray_lighter;
			}
				.eventActions-tocalendar {
					width: 65%;
					float: left;
				}
				.eventActions-share {
					position: relative;
					float: right;
				}

		.eventHeader-name {
			@include type-setting(-1);
			text-transform: uppercase;
			color: $color_primary;
			font-weight: $bold;

			p {
				margin: 0;
			}
		}

	.event-meta {
		.eventmeta-term {
			margin-right: 10px;
		}
	}
	.event-content {

		strong:first-child {
			@include type-setting(4);
			color: $color_primary;
			font-family: $font_family_title;
			max-width: 75%;

			&:after {
				content: '';
			}
		}
		iframe { 
			max-width: 100%;
		}
	}
		.event-aside {
			background-color: $color_primary;
			padding: 2em;
			position: relative;

			h3 {
				color: $white;
			}
		}
			.relatedPost {
				margin-bottom: $base_line_height * 2;

				.entry-meta {
					margin-top: $base_line_height / 2;
					margin-bottom: $base_line_height / 2;
				}
			}
				.relatedPost-media {
					position: relative;

					& > ul {
						position: absolute;
						top: 0;
						left: 0;
					}
				}


	.event-details {
		background-color: $gray_light;
		position: relative;
		padding: $base_line_height * 2 0;
		margin-top: $base_line_height * 3;

		.row:not(:last-child) {
			margin-bottom: $base_line_height * 2;
		}
	}





