/* 
 * templates/single
 * 
 * @package lavantseine-v2
 */



.page-header {
	height: 200px;
	width: 100%;
	align-items: center;
	background-color: $color_primary;
}
	.page-title {
//		background-color: rgba(0,0,0,0.98);
		color: $white;
//		padding: 2em;
	}

.page-content {

}
	.page-extract {
		@include type-setting(3);
		color: $color_primary;
	}

.page-aside {
	position: relative;
}
	.pages-menu-item  {
		@include type-setting(4);
		font-family: $font_family_nav;
		font-weight: $bold;

		span:before {
			@include rotate(90deg);
		}

		&.active {
			color: $color_primary;
		}
	}



	.entry-accordeon {
		background-color: $gray_lighter;

	}
	
		.accordeon-title {
			padding: 1em;
			cursor: pointer;

			.open & {
				background-color: $color_primary;
				color: $white;
			}
			
			& > * {
				margin-bottom: 0;
			}
		}

		.accordeon-content {
			.close & {
				display: none;
			}

			padding: 2em;
		}





