

.prog-pagetitle {
	padding: 3em 0;
	background-color: $black;
	color: $white;
}


.prog-filters {
	background-color: $gray_lighter;
	margin-bottom: $base_line_height * 2;
}		
	.progFilterForm-upper {
		background-color: $gray_light;
		padding: 20px 0;
	}

	.progFilterForm-lower {
		display: none;
		background-color: $gray;
		padding: 10px 0;
	}


.prog-aside {
	position: absolute;
	border-left: 20px solid $white;
	right: 20px;
	
	.h2 {
		color: $white;
	}
	& > div {
		background-color: $color_primary;
		padding: 2em;
		margin-bottom: $base_line_height;
	}
}


.box-month {
	color: $color_primary;
	padding-bottom: $base_line_height;
	margin-bottom: $base_line_height * 2;
	border-bottom: 7px solid;

	& + .m-2coll:nth-child(1) {
		margin-left: 0 !important;
	}
}

.event-row {
	margin-bottom: $base_line_height * 2;
	clear: none !important;
	
	& > div:nth-child(3n + 1) {
		margin-left: 0 !important;
		clear: both;
	}
}




.pdf-list {

}
li[class^="pdfItem"] {
	@include box-sizing;
	width: 100%;
	clear: both;
}

.pdfItem-first {
	background-color: $black;
	border: none;
	margin-bottom: $base_line_height / 2;

	span {
		margin-right: $base_line_height / 2;
	}
}
.pdfItem-others {
	background: none;
	color: $black;

	span {
		margin-left: $base_line_height;
		float: right;
	}

	& + ul {
		border: 1px solid;
		border-top: none;
		padding: 1em;

		span {
			margin-right: $base_line_height / 2;
		}
	}
	&.open {
		border-bottom: none;
	}
	&:not(.open) + ul {
		display: none;
	}
}

