/* 
 * templates/single
 * 
 * @package lavantseine-v2
 */



.single-header {
	height: 450px;
	position: relative;
	width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: -1;
}
	.single-title {
		background-color: rgba(0,0,0,0.98);
		color: $white;
		padding: 2em;
		margin-top: 0;
		margin-bottom: 0;
		& > div {
			float: left;
		}
	}
	.single-share {
		position: relative;
		display: inline-block;
	}
	.single-metas {
		margin-bottom: $base_line_height * 2;
	}

		.single-aside {
			background-color: $color_primary;
			padding: 2em;
			position: relative;

			h3 {
				color: $white;
			}
		}

	.single-content {

		iframe {
			max-width: 100%;
		}
	}


	.post-navigation {
		margin-top: $base_line_height * 2;
		a {
			@extend .btn--big;
			margin-right: 5px;
			float: left;
		}
	}