/* 
 * Set up specific templates : home, single...
 * 
 * @package lavantseine-v2
 *
 */




@import "home";
@import "single";
@import "prog";
@import "event";
@import "mag";
@import "page";

body {
  position: relative;
  overflow-x: hidden;
}

  .no-scroll {

    @include at-least(medium) {
      overflow: hidden;
    }
  }

