/* 
 * Set up specific templates : home, single...
 * 
 * @package lavantseine-v2
 *
 */




@import "home";
@import "single";
@import "prog";
@import "event";
@import "mag";
@import "page";
@import "search";



body {
  position: relative;
  overflow-x: hidden;

}

  .no-scroll {

    @include up-to(medium) {
      overflow: hidden;
    }
  }



  .site-content {
    padding-top: $menu_height_max;
    
    @include up-to(medium) {
      padding-top: 30px;
    }
  }

