


input
  padding: .5em 1em
  border: none
  font-size: 18px
  line-height: 11px 


// FILTERS

.switch > * 
    float: left

.cmn-toggle 
  position: absolute
  margin-left: -9999px
  visibility: hidden

input.cmn-toggle-round + label
    padding: 2px
    width: 15px
    height: 15px
    background-color: none
    border-radius: 50%
    margin: 0 10px
    border: 1px solid $red

.cmn-toggle + label
    display: block
    position: relative
    cursor: pointer
    outline: none
    user-select: none

input.cmn-toggle-round:checked + label::before
    background-color: $red

input.cmn-toggle-round + label::before 
    right: 0
    background-color: $white
    border-radius: 40px
    transition: background .4s

input.cmn-toggle-round + label::after, input.cmn-toggle-round + label::before 
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    content: ""


.c-select
  position: relative

  &:before
    content: ''
    display: inline
    width: 15px
    height: 15px
    background-color: $red
    border-radius: 50%
    position: absolute
    top: 13px
    left: -20px

  select
    display: inline-block
    font-size: 14px
    width: 120%
    border: none
    background: none
    color: $blue
    font-weight: $bold
  
  option
    padding-left: 0
    margin-left: 0
    




