

.modal
	transition: all 0.5
	display: none
	position: absolute
	background: white
	border-top: 1px solid $red
	border-bottom: 1px solid $red
	padding-top: 20px
	padding-bottom: 20vh
	z-index: 3
	right: 0
	left: 0
	overflow: scroll
	height: 87vh

.siteMenus-searchform
	display: none
	background-color: $blue
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 3
	justify-content: center
	align-items: center
	flex-direction: column

	.btn-nude
		color: $white


#searchform-close
	color: $white
	font-size: 20px
	font-weight: $bold


