



.page-item
  width: 47%

.page-item:nth-child(odd)
    float: right

.page-item:nth-child(even)
    float: left
    clear: both

.put-on-1col .page-item
  width: 67%
  float: left

.event-aside .put-on-1col .page-item
  width: 100%


.focus-item

	a
		display: block
		max-width: 100%

	.item_title
		color: $blue

	.item-cover
		width: 50%
		float: left

	.item-text
		width: 45%
		float: right



.article-item

	.item-header
		position: relative

	.item-cover
    border-radius: 0 30px 0 0
    margin-bottom: 0

	.icon-video
		position: absolute
		top: 0
		width: 60%

	.item-tax
		background-color: $red
		color: $white
		padding: .3em .8em

	.item_title
		color: $blue




.event-item
  position: relative

  .page_related &
    margin-bottom: $base_line_height 
    
  .agenda-grid-item & 
    padding-top: 70px

  .agenda-grid-item & .item-hover
    top: 70px 

  .item-header
    position: relative

  .item-cover
    margin-bottom: 10px
    height: 25vh

    img
      border-radius: 0 30px 0 0
      object-fit: cover
      height: 100%
      width: 100%

  .icon-video
    position: absolute
    top: 0
    width: 60%

  .item-tax
    background-color: $red
    color: $white
    padding: .3em .8em

  .item-title,
  .item-dates,
  .item-names
    border-bottom: 1px solid $red
    padding: 10px 0

  .item-dates,
  .item-names
    font-weight: $bold

    [class^="label"], [class*="label"]
      color: $blue
      vertical-align: initial

  .item-names
    text-transform: lowercase

  .item-hover
    display: none
    position: absolute
    left: 0
    right: 0
    background-color: $white
    border-bottom: 1px solid $red
    border-top: 1px solid $red
    padding: 10px 0
    opacity: 0.95

  &:hover .item-hover
    display: block

  .item-actions
    a 
      margin: 0 10px 10px 0


.event-teaser
  [class^="btn-primary"], [class*="btn-primary"] 
    display: inline-block
    width: auto
    margin-right: 10px
  
  .meta-item
    margin-right: 5px
    display: inline-block

  .meta-names
    font-weight: $bold

.teaser-title
  border-bottom: 1px solid $white


.event-teaser--small
  .teaser-action,
  .teaser-meta
    border-bottom: 1px solid $red
    padding: 10px 0
    font-weight: $bold

    &:last-child
      border: none

  .teaser-meta
    [class^="label"], [class*="label"]
      color: $blue
      vertical-align: initial

  .teaser-title
    margin-bottom: 0
    border-color: $red



.module-infos
  p
    border-bottom: 1px solid $red
    padding: 10px 0

/* Texte défilant */

$duration: 300s

@-webkit-keyframes ticker
  0%
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    visibility: visible

  100% 
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

@keyframes ticker 
  0% 
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    visibility: visible

  100%
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)
 

.ticker-wrap 
  width: 2000%
  overflow: hidden
  height: 4rem
  padding-left: 5%
  box-sizing: content-box
  border-top: 1px solid $red
  
  .ticker 
    display: inline-block
    height: 4rem
    line-height: 4rem 
    white-space: nowrap
    padding-right: 10%
    box-sizing: content-box
    -webkit-animation-iteration-count: infinite 
		animation-iteration-count: infinite
    -webkit-animation-timing-function: linear
		animation-timing-function: linear
   	-webkit-animation-name: ticker
		animation-name: ticker
    -webkit-animation-duration: $duration
		animation-duration: $duration

  .ticker__item 
    display: inline-block
    padding: 0 1rem
    font-size: 50px
    font-family: $loupot

    &.red
    	color: $red

.agenda-ticker
  border-bottom: 1px solid $red




// FRAMES

iframe
  max-width: 100%
  min-height: 325px
  max-height: 500px




// SOCIAL BUTTONS

.single-share
    position: relative
    
.box-share-list 
    visibility: hidden
    background: $blue
    color: $white
    position: absolute
    top: 8px
    left: 50%
    width: 0px
    height: 0px
    overflow: hidden
    border: 2px solid
    text-align: left
    -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
    webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s
            transition: height 0.3s, width 0.3s, transform 0.3s

    .inner 
        padding: 2em 3em

    .open & 
        width: auto

 

