

.modal
	transition: all 0.5
	display: none
	position: absolute
	background: white
	border-top: 1px solid $secondary_color
	border-bottom: 1px solid $secondary_color
	padding-top: 20vh
	padding-bottom: 20vh
	z-index: 3
	right: 0
	left: 0
	overflow: scroll
	height: 100vh

.siteMenus-searchform
	display: none
	background-color: $primary_color
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 3
	justify-content: center
	align-items: center
	flex-direction: column
	min-height: 15vh

	.btn-nude
		color: $white


#searchform-close
	color: $white
	font-size: 20px
	font-weight: $bold
	position: absolute
	top: 10%
	right: 5%



.popin_outer
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100vw
	height: 100vh
	background-color: rgba(255, 255, 255, .7)
	z-index: 99999
	display: flex
	justify-content: center
	align-items: center

.popin_inner
	width: 50vw
	height: 50vh
	background: white
	box-shadow: 0 0 20px gray
	padding: 60px
	position: relative

	.btn
		position: absolute
		top: 20px
		right: 20px
		background: none
		border: none
		font-size: 20px
		cursor: pointer



