



.page-item
  width: 47%
  transition: all .5s

  &:hover
    color: $red

    .rounded-icon
      background-color: $red

.page-item:nth-child(odd)
    float: right

.page-item:nth-child(even)
    float: left
    clear: both

.put-on-1col .page-item
  width: 67%
  float: left

.event-aside .put-on-1col .page-item
  width: 100%

.page-formules-et-tarifs
  .rounded-icon span
    @extend .icon-RESTO

.page-service-baby-sitting
  .rounded-icon span
    @extend .icon-BALLON 

.page-publics-connectes
  .rounded-icon span
    @extend .icon-CONNECTEURS 

.page-acces-wifi
  .rounded-icon span
    @extend .icon-WIFI 

.page-emmenez-vos-eleves
  .rounded-icon span
    @extend .icon-GROUPE 

.page-tous-les-projets
  .rounded-icon span
    @extend .icon-AMPOULE 

.page-club-des-spectateurs
  .rounded-icon span
    @extend .icon-GROUPE

.page-club-des-mecenes
  .rounded-icon span
    @extend .icon-MAINS 



.focus-item
  transition: all .5s

.focus-item  a
  display: block
  height: 100%
  max-width: 100%

.focus-item img
  object-fit: cover
  border-radius: 0 20px 0 0
  height: 100%

.focus-item .item-cover
  border-radius: 0 20px 0 0
  position: relative

.focus-item .item-pastille
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center

  span
    display: inline-block
    background-image: url('img/pastille.gif')
    background-size: cover
    background-repeat: no-repeat
    width: 150px
    height: 150px
    line-height: 150px
    text-align: center
    color: $white
    opacity: 0.98
    font-weight: $bold

.focus-item .item-text
  padding: 20px
  background-color: $gray_light

.focus-item .item-title
  color: $blue


.focus-item:hover
  .item-text,
  .item-title
    color: $red



.article-item

	.item-header
		position: relative

	.item-cover
    border-radius: 0 30px 0 0
    margin-bottom: 0

	.icon-video
		position: absolute
		top: 0
		width: 60%

	.item-tax
		background-color: $red
		color: $white
		padding: .3em .8em

	.item-title
		color: $blue

  transition: all .5s

.article-item:hover
  .item-text,
  .item-title
    color: $red

.item-big
  background-color: $gray_light

  .item-tax 
    background-color: $blue

  .item-title,
  .item-excerpt
    padding: 0 20px 20px



.event-item
  position: relative

  .page_related &
    margin-bottom: $base_line_height 
    
  .agenda-grid-item & 
    padding-top: 70px

  .agenda-grid-item & .item-hover
    top: 70px 
    padding: 20px
    line-height: 1.6

  .item-header
    position: relative

  .item-cover
    margin-bottom: 10px

    img
      border-radius: 0 30px 0 0
      object-fit: cover
      height: 100%
      width: 100%

  .icon-video
    position: absolute
    top: 0
    width: 60%

  .item-tax
    background-color: $red
    color: $white
    padding: .3em .8em

  .item-title,
  .item-dates,
  .item-names
    border-bottom: 1px solid $red
    padding: 10px 0

  .item-dates,
  .item-names
    font-weight: $bold

    [class^="label"], [class*="label"]
      color: $blue
      vertical-align: initial

  .item-names
    text-transform: lowercase

  .item-hover
    display: none
    position: absolute
    left: 0
    right: 0
    background-color: $white
    border-bottom: 1px solid $red
    border-top: 1px solid $red
    padding: 10px 0
    opacity: 0.95
    z-index: 2

  .item-actions
    a 
      margin: 0 10px 10px 0

  &:hover
    .item-hover
      display: block

    .item-cover
      opacity: .5
    



.event-teaser
  [class^="btn-primary"], [class*="btn-primary"] 
    display: inline-block
    width: auto
    margin-right: 10px
  
  .meta-item
    margin-right: 5px
    display: inline-block

  .meta-names
    font-weight: $bold



.teaser-title
  border-bottom: 1px solid $white
  color: $blue

.teaser-tag
  float: left
  margin-right: 10px

  a
    color: $white
    font-weight: $bold

.event-teaser--small
  .teaser-action,
  .teaser-meta
    border-bottom: 1px solid $red
    padding: 10px 0
    font-weight: $bold

    &:last-child
      border: none

  .teaser-meta
    [class^="label"], [class*="label"]
      color: $blue
      vertical-align: initial

  .teaser-title
    margin-bottom: 0
    border-color: $red



.module-infos
  p
    border-bottom: 1px solid $red
    padding: 10px 0

/* Texte défilant */

$duration: 300s

@-webkit-keyframes ticker
  0%
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    visibility: visible

  100% 
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)

@keyframes ticker 
  0% 
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    visibility: visible

  100%
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)
 

.ticker-wrap 
  width: 2000%
  overflow: hidden
  height: 4rem
  padding-left: 5%
  box-sizing: content-box
  border-bottom: 1px solid $red
  
  .ticker 
    display: inline-block
    height: 4rem
    line-height: 4rem 
    white-space: nowrap
    padding-right: 10%
    box-sizing: content-box
    -webkit-animation-iteration-count: infinite 
		animation-iteration-count: infinite
    -webkit-animation-timing-function: linear
		animation-timing-function: linear
   	-webkit-animation-name: ticker
		animation-name: ticker
    -webkit-animation-duration: $duration
		animation-duration: $duration

  .ticker__item 
    display: inline-block
    padding: 0 1rem
    font-size: 50px
    font-family: $loupot

    &.red
    	color: $red

.agenda-ticker
  border-bottom: 1px solid $red




// FRAMES

iframe
  max-width: 100%
  min-height: 325px
  max-height: 500px




// SOCIAL BUTTONS

.single-share
    position: relative
    
.box-share-list 
    visibility: hidden
    background: $blue
    color: $white
    position: absolute
    top: 8px
    left: 50%
    width: 0px
    height: 0px
    overflow: hidden
    border: 2px solid
    text-align: left
    -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
    webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s
            transition: height 0.3s, width 0.3s, transform 0.3s

    .inner 
        padding: 2em 3em

    .open & 
        width: auto

 



.bloc-newsletter
  iframe
    min-height: auto

  .mj-embedded-content
    background: none !important

body form.mj-form .mj-embed-shadow .mj-embedded-content 
  background: none !important
  box-shadow: none !important

body form.mj-form .mj-embedded.mj-embed-shadow

    padding: 20px !important
    background-color: transparent !important
    box-shadow: none !important
