
.site-header
	position: fixed
	background-color: rgba(255,255,255,.9)
	position: fixed
	z-index: 9
	left: 0
	right: 0
	padding: 0 10px
	
	@include up-to(medium)
		border-bottom: 1px solid $red
		height: 50px
		height: 8vh


.menu-item
	float: left



// STICKY

body

	@include at-least(medium)
		.site-header
			flex-wrap: nowrap
			height: 7vh
			border-bottom: 1px solid $red
			
		.siteMenus-primary
			order: 1

			.menu-item a
				font-size: 16px
			.icon-close, .icon-menu
				font-size: 32px

		.siteMenus-actions
			order: 3

			[class^="btn-"], [class*=" btn-"]
				font-size: 14px 

		.siteMenus-contacts
			order: 2
			width: auto
			padding: 0



// MAIN MENU
	

.siteMenuPrimary-inner > .menu-item
	border-left: 5px solid $red
	padding: .1em .5em

	a
		text-decoration: none
		font-size: 18px
		font-weight: $black

	&.active,
	&:hover
		background-color: $red
		color: $white

		.icon-menu
			color: $white

.site-branding
	float: left
	width: 13%
	position: relative
	z-index: 5

	@include up-to(medium)
		width: 35%

		img
			width: auto
			padding: 10px 0
			height: 8vh


.site-menus
	flex-wrap: wrap
	justify-content: space-between
	padding: 15px 0
	float: right
	width: 87%
	position: relative
	z-index: 2
	
	@include up-to(medium)
		width: 65%

.siteMenuPrimary-inner
	
	@include up-to(medium)
		padding: 7px 0
		float: right

		.menu-item:not(.js-menuTrigger),
		.label
			display: none

		.menu-item
			border: none


.siteMenus-actions

	.menu-item
		float: right
		margin-left: 10px

	@include up-to(medium)
		display: none


.siteMenus-contacts
	width: 100%
	padding: 7px 0

	ul 
		float: right

	li
		margin-left: 15px

	@include up-to(medium)
		width: auto




// BIG MENU

.siteMenus-large
	position: absolute
	background-color: $blue
	color: $white
	height: 100%
	height: 100vh
	border-radius: 0 0 40px 40px
	padding-top: 150px
	transition: all 1s
	top: -100%
	top: -100vh
	left: 0
	right: 0
	z-index: 1
	overflow: scroll

	&.active
		top: 0

	@include up-to(medium) 
		padding-top: 80px
		
		ul
			flex-wrap: wrap
		.menu-item-has-children
			margin-bottom: 20px

	.menu-item-has-children
		padding-right: 10px

		a
			display: block
			margin-bottom: 10px

			&:hover
				color: $red

		& > a
			border-bottom: 1px solid $white
			padding-bottom: 10px
			font-weight: $bold

		.menu-item
			clear: both
			display: block
			float: none
		
	.current-page-parent
		& > a
			border-bottom: 3px solid $red
			padding-bottom: 10px
			font-weight: $bold

		.current_page_item
			color: $red
			margin-left: -22px

			a:before
				content: '●'
				padding-right: 10px



// OPEN MENU

.menu-is-open
	.siteMenus-primary
		color: $white

	.btn-primary
		background-color: $red



// MOBILE CTA MENU

.cta-menu
	position: fixed
	padding: 10px 5px 5px
	background-color: rgba(255,255,255,.9)
	border-top: 1px solid $red
	bottom: 0
	left: 0
	right: 0
	z-index: 8
	
	ul
		display: flex
		justify-content: center

	a
		float: left
		border-left: 6px solid $red
		padding: .2em 1em
		font-weight: $bold
		font-size: 18px

	li:first-child a
		border: none




// FOOTER

.site-footer
	border-top: 1px solid $red
	padding-top: $base_line_height * 2

.footer-col
	p:first-child
		color: $red
		margin-bottom: $base_line_height
		font-weight: $bold
		
		@include up-to(medium)
			margin-bottom: 0

.footer-col--empty
	border-left: 4px solid $red
	height: 30px
	
	@include up-to(medium)
		height: 10px
		border: none

.footer-logos

.logo-item
	padding: 20px

	img
		max-height: 75px
		margin: auto





