
.site-header
	position: fixed
	background-color: rgba(255,255,255,.9)
	position: fixed
	z-index: 13
	left: 0
	right: 0
	padding: 0 10px
	height: 80px
	border-bottom: 1px solid $secondary_color

	@include up-to(medium)


.menu-item
	float: left
	word-break: inherit
	hyphens: auto


// STICKY

body

	@include at-least(medium)
		.site-header
			flex-wrap: nowrap
			padding-top: 5px

		.siteMenus-primary
			order: 1

			.menu-item a
				font-size: 16px

			.icon-close, .icon-menu
				font-size: 32px

		.siteMenus-actions
			order: 3

			ul
				display: flex
				align-items: center
				justify-content: flex-end

			[class^="btn-"], [class*=" btn-"]
				font-size: 14px 

		.siteMenus-contacts
			order: 2
			width: auto
			padding: 0



// MAIN MENU
	

.siteMenuPrimary-inner > .menu-item
	border-left: 5px solid $secondary_color
	padding: .3em .7em .5em

	a
		text-decoration: none
		font-size: 18px
		font-weight: $black

	&.active,
	&:hover
		background-color: $secondary_color
		color: $white

		.hamburger-inner,
		.hamburger-inner:before,
		.hamburger-inner:after
			background-color: $white

.site-branding
	float: left
	max-width: 8%
	position: relative
	z-index: 5

	img
		max-height: 115px

	@include up-to(medium)
		max-width: none
		float: left
		width: 20%

		img
			width: auto
			padding: 10px 0


.site-menus
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	height: 100%
	float: right
	width: 90%
	position: relative
	z-index: 2
	
	@include up-to(medium)
		width: 75%
		justify-content: flex-end

.siteMenuPrimary-inner
	
	@include up-to(medium)
		padding: 7px 0
		float: right

		.menu-item:not(.js-menuTrigger),
		.label
			display: none

		.menu-item
			border: none


	.js-menuTrigger
		@include at-least(medium)
			display: none

		.label
			display: none


.siteMenus-actions

	.menu-item
		float: right
		margin-left: 10px
		margin-bottom: 10px

	@include up-to(medium)
		//padding-left: 50px
		width: 100%


.siteMenus-contacts
	width: 100%
	padding: 7px 0

	ul 
		float: right

	li
		margin-left: 15px

	@include up-to(medium)
		width: auto
		padding: 0


.icon-svg
	svg
		width: 25px
		height: 25px


// BIG MENU

.siteMenus-large
	position: absolute
	background-color: $primary_color
	color: $white
	height: 100%
	height: 100vh
	border-radius: 0 0 40px 40px
	padding-top: 150px
	transition: all 1s
	top: -100%
	top: -100vh
	left: 0
	right: 0
	z-index: 1
	overflow: scroll

	&.active
		top: 0

	@include up-to(medium) 
		padding-top: 150px
		
		ul
			flex-direction: column
			font-size: 20px

		.sub-menu
			display: none

		.menu-item
			margin-bottom: 20px

	.menu-item
		padding-right: 10px

		a
			display: block
			margin-bottom: 10px

			&:hover
				color: $secondary_color

		& > a
			border-bottom: 1px solid $white
			padding-bottom: 10px
			font-weight: $bold

		.menu-item
			clear: both
			display: block
			float: none
		
	.current-page-parent
		& > a
			border-bottom: 3px solid $secondary_color
			padding-bottom: 10px
			font-weight: $bold

		.current_page_item
			color: $secondary_color
			margin-left: -22px

			a:before
				content: '●'
				padding-right: 10px



// OPEN MENU

.menu-is-open
	.siteMenus-primary,
	.siteMenus-contacts
		color: $white

	.btn-primary
		background-color: $secondary_color
	
	.icon-FACEBOOK:before
		color: $primary_color
		background-color: $white



// MOBILE CTA MENU

.cta-menu
	position: fixed
	padding: 10px 5px 5px
	background-color: $white
	border-top: 1px solid $secondary_color
	bottom: 0
	left: 0
	right: 0
	z-index: 10
	
	ul
		display: flex
		justify-content: center

	a
		float: left
		border-left: 6px solid $secondary_color
		padding: .2em 1em
		font-weight: $bold
		font-size: 16px

	li:first-child a
		border: none




// FOOTER

.site-footer
	border-top: 1px solid $secondary_color
	padding-top: $base_line_height * 2

.footer-col
	p:first-child
		color: $secondary_color
		margin-bottom: $base_line_height
		font-weight: $bold
		
		@include up-to(medium)
			margin-bottom: 0

.footer-col--empty
	border-left: 4px solid $secondary_color
	height: 30px
	
	@include up-to(medium)
		height: 10px
		border: none

.logo-item
	padding: 20px

	img
		max-height: 75px
		margin: auto





