

.menu-item
	float: left


	

.siteMenuPrimary-inner > .menu-item
	border-left: 5px solid $red
	padding: .1em .5em

	a
		text-decoration: none
		font-size: 18px
		font-weight: $black


.site-branding
	float: left
	width: 13%
	position: relative
	z-index: 9999


.site-menus
	flex-wrap: wrap
	justify-content: space-between
	padding: 5px 0
	float: right
	width: 85%
	position: relative
	z-index: 9999


.siteMenus-primary
	flex: 2

.siteMenus-actions
	flex: 1
	padding: 5px 0

	.menu-item
		float: right


.siteMenus-contacts
	width: 100%

	ul 
		float: right







.siteMenus-large
	position: absolute
	background-color: $blue
	color: $white
	height: 100vh
	border-radius: 0 0 40px 40px
	padding-top: 150px
	transition: all 1s
	top: -100vh
	left: 0
	right: 0
	z-index: 1

	&.active
		top: 0

	@include at-least(medium) 
		.ham-prog,
		.ham-mag
			display: none
	
	.menu-item-has-children
		padding-right: 10px

		a
			display: block
			margin-bottom: 10px

			&:hover
				color: $red

		& > a
			border-bottom: 1px solid $white
			padding-bottom: 10px
			font-weight: $bold

		.menu-item
			clear: both
			display: block
			float: none
		
	.current-page-parent
		& > a
			border-bottom: 3px solid $red
			padding-bottom: 10px
			font-weight: $bold

		.current_page_item
			color: $red
			margin-left: -22px

			a:before
				content: '●'
				padding-right: 10px



.menu-is-open
	.siteMenus-primary
		color: $white

	.btn-primary
		background-color: $red




// FOOTER

.site-footer
	border-top: 1px solid $red
	padding-top: $base_line_height * 2

.footer-col
	p:first-child
		color: $red
		margin-bottom: $base_line_height
		font-weight: $bold

.footer-col--empty
	border-left: 4px solid $red
	height: 30px
