


#salgrid_1
	display: flex
	flex-wrap: wrap
	justify-content: space-between

#salgrid_1 .article-item:first-child
  	width: 100%

#salgrid_1 .article-item
  	width: 48%


// #salgrid_1[data-columns]::before
// 	content: '2 .column.half'

// 	@include up-to(medium)
// 		content: '1'

// .column
// 	float: left

// .half
// 	width: 49%

// 	&:nth-child(2)
// 		float: right



#salgrid_3[data-columns]::before
	content: '3 .m-8col'

	@include up-to(medium)
		content: '1'
		
.column

	&:nth-child(3)
		float: right



#page_grid[data-columns]::before
	content: '3 .m-8col'

	@include up-to(medium)
		content: '2 .s-12col'
		

.column

	&:nth-child(3)
		float: right



