

.slick-slider
    position: relative
    display: block
    box-sizing: border-box
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -ms-touch-action: pan-y
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent
    
.slick-list
    position: relative
    overflow: hidden
    display: block
    margin: 0
    padding: 0

    &:focus
        outline: none

    &.dragging
        cursor: pointer
        cursor: hand
    

.slick-slider .slick-track,
.slick-slider .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slick-track
    position: relative
    left: 0
    top: 0
    display: block
    margin-left: auto
    margin-right: auto

    &:before,
    &:after
        content: ""
        display: table
    

    &:after
        clear: both
    

    .slick-loading &
        visibility: hidden
    

.slick-slide
    float: left
    height: 100%
    min-height: 1px
    [dir="rtl"] &
        float: right
    
    img
        display: block
        height: auto
    
    &.slick-loading img
        display: none
    

    display: none

    &.dragging img
        pointer-events: none
    

    .slick-initialized &
        display: block
    

    .slick-loading &
        visibility: hidden
    

    .slick-vertical &
        display: block
        height: auto
        border: 1px solid transparent
    

.slick-arrow.slick-hidden
    display: none



.home-slides
    background-color: $gray_light
    
    .slide
        flex-direction: column

    .slide-cover
        height: 50vh
        position: relative
        
    .slide-text
        background-color: $blue
        border-radius: 0 0 2em 0
        padding: 20px 0
        @include transition(all .3s)
        position: relative
        z-index: 99999999
        min-height: 300px
        
        @include up-to(medium)
            min-height: 400px
            
    .slick-current 
        position: relative
        z-index: 999 

        .slide-text 
            background-color: $red
            z-index: 9
            margin-left: -30px
            padding-left: 30px
        
        .slide-title
            color: $white
            border-bottom: 1px solid $white
        
        & + .slick-slide 
            margin-left: -30px

        & + .slick-slide .slide-text 
            z-index: -1


    .slick-slide:not(.slick-current)
        .inner
            opacity: 0

        .slide-cover:after
            content: ''
            display: block
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: $blue
            opacity: 0.4
    
    a
        width: 100%
        display: block

    img
        object-fit: cover
        width: 100%
        height: 100%
        border-radius: 0 2em 0 0
    
    .slick-arrow
        display: flex
        position: absolute
        font-size: 50px
        color: white
        top: 0
        bottom: 0
        width: 20%
        z-index: 4
        align-items: center
        justify-content: flex-end

    .slick-next
        right: 5px

    .slick-prev
        transform: rotate(180deg)
        left: 5px



.single-slides
    .slick-slide img 
        max-height: 65vh
        width: auto
        margin: auto

    .slick-arrow
        position: absolute
        display: flex
        top: 0
        bottom: 0
        font-size: 40px
        color: $white
        z-index: 2
        width: 20%
        align-items: center
    
    .slick-left
        left: 10px

    .slick-next
        right: 10px
        justify-content: flex-end




.slick-next.icon-FLECHE:before
    content: "\e905"
    margin-top: 150%

.slick-prev.icon-FLECHE:before
    margin-top: -150%
    content: "\e905"
