/* 
 * Forms fields
 * 
 * @package elsa
 */



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  @include box-sizing;
  
	color: $color_primary;
	border: 2px solid $color_primary;
  padding: $base_line_height / 2;
  margin-bottom: $base_line_height / 2;
  
	&:focus {

	}

  &.error {
    border-color: $color_medias;
  }
}

.input-bg {
  background-color: $white;
}
.input-empty {
  background: none;
} 

textarea {
  @include box-sizing;
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}






input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */ }


input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  @include box-sizing;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

label.error {
  @include type-setting(-1);
  color: $color_medias;
  margin-top: - $base_line_height / 2;
  display: block;
  margin-bottom: $base_line_height / 2;
}





/* 
 * CUSTOM SELECT
 */

select {
  padding: 10px;
  text-transform: uppercase;
  color: $color_primary;
  font-weight: $semibold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.selectBox--subtil {
    text-transform: none;
    font-weight: $regular;
  }
}


.input--select {
  position: relative;
  overflow: hidden;
  border: 2px solid $color_primary;
  margin-bottom: $base_line_height / 2;

  &--subtil {
    text-transform: none;
    font-weight: $regular;
  }

  select {
    width: 110%;
    border: none;

    &:focus {
      outline: 0;
    }
  }

  span {
    position: absolute;
    top: 0px;
    bottom: 0;
    line-height: $base_line_height * 2;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }

}





/* 
 * CUSTOM INPUT FILE
 */

.input--file {
  position: relative; 
  margin-bottom: $base_line_height / 2;

  .msg {
    @include type-setting(-2);
    color: $gray;
    font-style: italic;
  }

  &:hover {
    cursor: pointer;
  }
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  & + label {
    @include box-sizing;

    color: $color_primary;
    border: 2px solid $color_primary;
    padding: $base_line_height / 2;
    background-color: $white;

    span {
      position: absolute;
      right: 5px;
      line-height: $base_line_height * 2;
      top: 0;
      bottom: 0;
    }
  }
}




/* 
 * CUSTOM CHECKBOXES
 */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -1px;
  width: 17px; height: 17px;
  border: 2px solid $color_primary;
  background: #fff;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 20px; height: 20px;
  left:0; top: 0;
  transition: all .2s;
  background-color: $color_primary;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid $color_primary !important;
}


