
strong,
.strong,
b 
	font-weight: 900
	
em,
.em
	font-style: italic

.cf
	@include clearfix();

.nobullets
	list-style: none
	margin: 0
	padding: 0

.is-flex
	display: flex
	justify-content: space-between

	.flx-1
		flex: 1
	.flx-2
		flex: 2
	.flx-3
		flex: 3
	.flx-4
		flex: 4

.text-on-left
	text-align: left

.text-on-right
	text-align: right

.text-on-center
	text-align: center

.mb-05
	margin-bottom: $base_line_height / 2

.mb-1
	margin-bottom: $base_line_height

.mb-2
	margin-bottom: $base_line_height * 2

.mb-3
	margin-bottom: $base_line_height * 3

.mb-4
	margin-bottom: $base_line_height * 4

.mb-5
	margin-bottom: $base_line_height * 5

.mb-8
	margin-bottom: $base_line_height * 8

.no-pad-bot
	padding-bottom: 0 !important


.hidden
	max-height: 0 !important
	overflow: hidden

.hide-overflow
	overflow: hidden




