

@font-face
	font-family: Circular
	font-weight: 700
	src: url(fonts/CircularPro-Bold.otf)

@font-face
	font-family: Circular
	font-weight: 400
	src: url(fonts/CircularPro-Book.otf)

@font-face
	font-family: Circular
	font-weight: 900
	src: url(fonts/CircularStd-Black.otf)

// @font-face
// 	font-family: Loupot
// 	src: url(fonts/Loupot-Bold.otf)
 
// @font-face
// 	font-family: Blankenhorn
// 	src: url(fonts/BlankenhornLL-Script.otf)

// @font-face
// 	font-family: Balloon
// 	src: url(fonts/balloon/BalloonSCD-ExtBol.otf)
 
// @font-face
// 	font-family: Colette
// 	src: url(fonts/colette-jumbo/Colette-Jumbo.otf)

// @font-face
// 	font-family: ColetteJumbo
// 	src: url(fonts/colette-jumbo/Colette-UltraJumbo.otf)


// POUF
@font-face
	font-family: Pouf
	src: url(fonts/pouf/pouf-black.otf)

@font-face
	font-family: PoufCompressed
	src: url(fonts/pouf/pouf-compressed.otf)


@font-face
	font-family: 'icomoon'
	src:  url('fonts/icomoon.eot?cv5gxc')
	src:  url('fonts/icomoon.eot?cv5gxc#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?cv5gxc') format('truetype'), url('fonts/icomoon.woff?cv5gxc') format('woff'), url('fonts/icomoon.svg?cv5gxc#icomoon') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'icomoon2'
	src:  url('fonts/icons/icomoon.eot?d4bfwe')
	src:  url('fonts/icons/icomoon.eot?d4bfwe#iefix') format('embedded-opentype'), url('fonts/icons/icomoon.woff2?d4bfwe') format('woff2'), url('fonts/icons/icomoon.ttf?d4bfwe') format('truetype'), url('fonts/icons/icomoon.woff?d4bfwe') format('woff'), url('fonts/icons/icomoon.svg?d4bfwe#icomoon') format('svg')
	font-weight: normal
	font-style: normal
	font-display: block


[class^="i2-"], [class*=" i2-"]
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon2' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.i2-euro:before 
	content: "\e900"
	font-size: 38px

.i2-ticket:before 
	content: "\e901"
	font-size: 38px




// FAMILIES

$circular: Circular, Arial, Helvetica, sans-serif
$loupot: Loupot, Arial, Helvetica, sans-serif // UNUSED
$balloon: Balloon, Arial, Helvetica, sans-serif // UNUSED
$blankenhorn: Blankenhorn, Arial, Helvetica, sans-serif // USED FOR QUIZZ
$colette: Colette, Arial, Helvetica, sans-serif // USED FOR 2023
$pouf: Pouf, Arial, Helvetica, sans-serif // USED FOR 2024-2025


$title_font_family: $circular



// WEIGHTS 

$black:			900
$bold: 			700
$book: 			400


// BASE LINES

$base_line_height: 			21px



// HEADS

h1, h2, h3, h4, h5, h6
	font-weight: 400
	margin: 0

.h_1
	font-family: $title_font_family
	font-size: 3.8rem
	line-height: .9

	@include up-to(medium) 
		font-size: 3rem

	@include up-to(large) 
		word-break: break-word
		hyphens: auto

.h_2
	font-family: $title_font_family
	font-size: 2.5rem
	line-height: 0.9
	border-bottom: 1px solid $secondary_color
	padding-bottom: 10px
	margin-bottom: 20px

	@include up-to(medium) 
		font-size: 2.2rem

	@include up-to(large) 
		word-break: break-word
		hyphens: auto


.h_3
	font-weight: $bold
	font-size: 20px
	line-height: 1.1
	color: $secondary_color

	@include up-to(large) 
		word-break: break-word
		hyphens: auto


.h_4
	font-weight: $bold
	font-size: 18px
	line-height: 1
	border-bottom: 1px solid $secondary_color
	padding-bottom: 10px
	margin-bottom: 10px
	color: $secondary_color

.h_4--red
	@extend .h_4
	color: $primary_color


// COPYS

p
	line-height: 1.6
	font-size: 1rem

.copy
	p
		margin-bottom: $base_line_height
		clear: both

		&:first-child
			font-size: 24px
			color: $secondary_color
	h2
		color: $secondary_color
		font-weight: $bold
		margin-bottom: $base_line_height
		font-size: 22px

	h3
		color: $secondary_color
		font-weight: $bold
		margin-bottom: $base_line_height
		font-size: 18px


.excerpt_2
	font-size: 24px
	line-height: 1.1
	font-weight: $bold
	color: $secondary_color

.excerpt_1
	font-size: 14px
	line-height: 1.1
	font-weight: $book


.label_1
	font-size: 14px
	line-height: 1.1
	font-weight: $bold
	text-transform: uppercase

.label_2
	font-size: 14px
	line-height: 1
	font-weight: $bold
	color: $white
	vertical-align: super

.label_3
	font-size: 34px
	line-height: 1
	//font-weight: $black
	color: $secondary_color

.meta-names
	text-transform: uppercase



// ICONS
[class^="icon-"],
[class*=" icon-"],
%icon
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.icon-instagram:before
	content: "\e90f"
	font-size: 20px

.icon-facebook:before
	content: "\e910"
	font-size: 20px

.icon-GROUPE:before 
	content: "\e906"
	font-size: 30px

.icon-MAINS:before 
	content: "\e908"
	font-size: 24px

.icon-RESTO:before 
	content: "\e90a"
	font-size: 26px

.icon-WIFI:before 
	content: "\e90c"
	font-size: 24px

.icon-BALLON:before 
	content: "\e901"
	font-size: 30px

.icon-AMPOULE:before 
	content: "\e900"
	font-size: 30px

.icon-CARTABLE:before 
	content: "\e902"
	font-size: 24px

.icon-CONNECTEURS:before 
	content: "\e903"
	font-size: 20px


.icon-TWITTER:before 
	content: "\e90b"
	font-size: 20px

.icon-NEWSLETTER:before 
	content: "\e90d"
	font-size: 21px
	font-weight: bold

.icon-LOUPE:before 
	content: "\e907"
	font-size: 20px

.icon-close:before
	content: "\e90e"
	font-size: 28px





