

@font-face
	font-family: Circular
	font-weight: 700
	src: url(fonts/CircularPro-Bold.otf)

@font-face
	font-family: Circular
	font-weight: 400
	src: url(fonts/CircularPro-Book.otf)

@font-face
	font-family: Circular
	font-weight: 900
	src: url(fonts/CircularStd-Black.otf)

@font-face
	font-family: Loupot
	src: url(fonts/Loupot-Bold.otf)

@font-face
  font-family: 'icomoon'
  src:  url('fonts/icomoon.eot?didcg8')
  src:  url('fonts/icomoon.eot?didcg8#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?didcg8') format('truetype'), url('fonts/icomoon.woff?didcg8') format('woff'), url('fonts/icomoon.svg?didcg8#icomoon') format('svg')
  font-weight: normal
  font-style: normal



// FAMILIES

$circular: Circular, Arial, Helvetica, sans-serif
$loupot: Loupot, Arial, Helvetica, sans-serif


// WEIGHTS 

$black:			900
$bold: 			700
$book: 			400


// BASE LINES

$base_line_height: 			21px


// HEADS

h1, h2, h3, h4, h5, h6
	font-weight: 400
	margin: 0

.h_1
	font-family: $loupot
	font-weight: $bold
	font-size: 56px
	line-height: 66px


.h_2
	font-family: $loupot
	font-weight: $bold
	font-size: 50px
	line-height: 44px
	border-bottom: 1px solid $red
	padding-bottom: 10px
	margin-bottom: 20px

.h_3
	font-weight: $black
	font-size: 24px
	line-height: 28px
	color: $red

.h_4
	font-weight: $black
	font-size: 18px
	line-height: 1
	border-bottom: 1px solid $red
	padding-bottom: 5px
	margin-bottom: 8px
	color: $red



// COPYS

p
	font-size: 14px

.copy
	p
		margin-bottom: $base_line_height

		&:first-child
			font-size: 24px
			color: $red
	h3
		color: $red
		font-weight: $bold
		margin-bottom: $base_line_height
		font-size: 18px


.excerpt_2
	font-size: 24px
	line-height: 1.1
	font-weight: $bold
	color: $red

.excerpt_1
	font-size: 14px
	line-height: 1.1
	font-weight: $book


.label_1
	font-size: 14px
	line-height: 1.1
	font-weight: $bold
	text-transform: uppercase




// ICONS

[class^="i-"], [class*=" i-"] 
  font-family: 'icomoon' !important;
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-decoration: none
  line-height: 1
  color: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale




