

@font-face
	font-family: Circular
	font-weight: 700
	src: url(fonts/CircularPro-Bold.otf)

@font-face
	font-family: Circular
	font-weight: 400
	src: url(fonts/CircularPro-Book.otf)

@font-face
	font-family: Circular
	font-weight: 900
	src: url(fonts/CircularStd-Black.otf)

@font-face
	font-family: Loupot
	src: url(fonts/Loupot-Bold.otf)
 
@font-face
  font-family: 'icomoon'
  src:  url('fonts/icomoon.eot?cv5gxc')
  src:  url('fonts/icomoon.eot?cv5gxc#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?cv5gxc') format('truetype'), url('fonts/icomoon.woff?cv5gxc') format('woff'), url('fonts/icomoon.svg?cv5gxc#icomoon') format('svg')
  font-weight: normal
  font-style: normal



// FAMILIES

$circular: Circular, Arial, Helvetica, sans-serif
$loupot: Loupot, Arial, Helvetica, sans-serif


// WEIGHTS 

$black:			900
$bold: 			700
$book: 			400


// BASE LINES

$base_line_height: 			21px



// HEADS

h1, h2, h3, h4, h5, h6
	font-weight: 400
	margin: 0

.h_1
	font-family: $loupot
	font-size: 74px
	line-height: .8


.h_2
	font-family: $loupot
	font-size: 50px
	line-height: 44px
	border-bottom: 1px solid $red
	padding-bottom: 10px
	margin-bottom: 20px

.h_3
	font-weight: $bold
	font-size: 24px
	line-height: 28px
	color: $red

.h_4
	font-weight: $bold
	font-size: 18px
	line-height: 1
	border-bottom: 1px solid $red
	padding-bottom: 10px
	margin-bottom: 10px
	color: $red

.h_4--red
	@extend .h_4
	color: $blue


// COPYS

p
	font-size: 14px

.copy
	p
		margin-bottom: $base_line_height
		line-height: 1.4
		clear: both

		&:first-child
			font-size: 24px
			color: $red
	h2
		color: $red
		font-weight: $bold
		margin-bottom: $base_line_height
		font-size: 22px

	h3
		color: $red
		font-weight: $bold
		margin-bottom: $base_line_height
		font-size: 18px


.excerpt_2
	font-size: 24px
	line-height: 1.1
	font-weight: $bold
	color: $red

.excerpt_1
	font-size: 14px
	line-height: 1.1
	font-weight: $book


.label_1
	font-size: 14px
	line-height: 1.1
	font-weight: $bold
	text-transform: uppercase

.label_2
	font-size: 14px
	line-height: 1
	font-weight: $bold
	color: $white
	vertical-align: super

.label_3
	font-size: 34px
	line-height: 1
	font-weight: $black
	color: $blue

.meta-names
	text-transform: uppercase



// ICONS
[class^="icon-"],
[class*=" icon-"],
%icon
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-instagram:before
  content: "\e90f"
  font-size: 20px

.icon-facebook:before
	content: "\e910"
	font-size: 20px

.icon-GROUPE:before 
	content: "\e906"
	font-size: 30px

.icon-MAINS:before 
	content: "\e908"
	font-size: 24px

.icon-RESTO:before 
	content: "\e90a"
	font-size: 26px

.icon-WIFI:before 
	content: "\e90c"
	font-size: 24px

.icon-BALLON:before 
	content: "\e901"
	font-size: 30px

.icon-AMPOULE:before 
	content: "\e900"
	font-size: 30px

.icon-CARTABLE:before 
	content: "\e902"
	font-size: 24px

.icon-CONNECTEURS:before 
	content: "\e903"
	font-size: 20px


.icon-TWITTER:before 
	content: "\e90b"
	font-size: 20px

.icon-NEWSLETTER:before 
	content: "\e90d"
	font-size: 21px
	font-weight: bold

.icon-LOUPE:before 
	content: "\e907"
	font-size: 20px

.icon-close:before
	content: "\e90e"
	font-size: 28px





