







// COLORS

$red: 				#e73639
$blue:				#2a206e
$white:				#fff
$gray:				rgb(226, 226, 226)
$gray_light:	rgb(246, 246, 246)


$violet:			rgb(53, 3, 78) // Pantone 2627U 
$orange:			#cc6600 // pantone 805 U


// $primary_color: $blue // old primary
$primary_color: $violet


// $secondary_color: $red // old secondary
$secondary_color: $orange