

.webmag-filters
	border: 1px solid $red
	padding: 2em
	background-color: $gray_light

	.postmeta-term
		margin: 0 10px 10px 0

	.postmeta-term:not(.active)
		background-color: $red


.webmag-title
	border-top: 1px solid $red
	border-bottom: 1px solid $red
	padding: .5em 0
	line-height: 1



// BROCHURES

.module-brochure

.pdf-list
	& > .pdf-item
		border-bottom: 1px solid $red
		padding: 10px 0
		font-weight: $bold

		& .pdf-item
			padding: 3px 10px

	.label
		margin-bottom: 0



// AGENDA

.prog-filters
	padding-right: 6%
	padding-top: 70px
	
	.label
		margin-bottom: 0

.filter-item
	border-bottom: 1px solid $red
	padding: 10px 0
	font-weight: $bold

.agenda-grid-item
	position: relative

	&:nth-child(3n + 1)
		clear: both
		margin-left: 0

	.month
		position: absolute
		margin-bottom: 0
		margin-top: 10px
		border: none



// MAGAZINE
.webmag-grid
	transition: all .5s

.loading
	opacity: .3


