

.webmag-filters
	border: 1px solid $red
	padding: 2em
	background-color: $gray_light

	.postmeta-term:not(.active)
		margin: 0 10px 10px 0
		background-color: $red


.webmag-title
	border-top: 1px solid $red
	border-bottom: 1px solid $red
	padding: .5em 0
	line-height: 1



// AGENDA

.agenda-grid-item
	position: relative

	&:nth-child(3n + 1)
		clear: both
		margin-left: 0

	.month
		position: absolute
		margin-bottom: 0
		margin-top: 10px
		border: none


