
*
	@include box-sizing()
	

html,
body
	min-height: 100%


body
	position: relative
	font-family: $circular;
	color: $blue
	font-size: 90%
	overflow-x: hidden

.site
	overflow-x: hidden
	min-height: 100%
	position: relative

.no-scroll
	overflow: hidden



