

.page-header
	height: 50vh


.pages-menu-item
	position: relative

	a
		border-bottom: 1px solid $red
		padding: 10px 0
		font-weight: $bold
		display: block

	&.active

		&:before
			content: '●'
			color: $red
			left: -30px
			position: absolute
			padding: 10px


.page-title
	padding: 0 0 10px 0
	border-bottom: 1px solid $red

.module-infos
	.module-title
		border-bottom: 1px solid $red
		padding-bottom: 10px
		margin-bottom: 10px

		