
// QUIZZ Colors

$orange_quizz: #ed702c
$purple_quizz: #752182

// QUIZZ Breakpoints

$quizz_medium:           700px 
$quizz_large:            960px
$quizz_wide:             1300px 



// GENERAL SETTINGS

.is-relative 
  position: relative 
 

.is-absolute 
  position: absolute 
 

.full 
  height: 100% 
  width: 100% 

  @include up-to(medium) 
    height: auto 
    width: 100% 
     
 

.html-quizz,
.body-quizz
	font-size: 97%
	@include at-least(large)
  	height: 100% 
	@include up-to(large)
		font-size: 90%

.body-quizz
	font-size: 18px

.body-quizz
	.page 
		height: 100%
		min-height: 100vh
		display: flex
		padding: 2rem
		color: $purple_quizz

	article
		display: flex
		width: 100%

		& > *
			flex: 0 0 50%

		p
			margin-bottom: 1em
			font-size: 1.1rem

	
	article
		@include up-to(large)
			flex-direction: column-reverse
			& > *
				flex: 1 1 auto !important

  .cover
		img
			height: 100%
			width: 100%
			object-fit: cover
			border-radius: 3em 0 0 3em
			@include up-to(large)
	  		max-height: 450px
	  		margin-top: 15px

.body-quizz 
	a:hover
		opacity: 0.7

.body-quizz
	.page 
		@include up-to(medium)
			padding: 3rem 1rem
			height: auto

// QUIZZ HOMEPAGES


.quizzhome-header 
	text-align: center 
	display: flex
	flex-direction: column
	justify-content: center

.quizzhome-header--inner
	height: 100%
	overflow-y: scroll
	padding-bottom: 5%
	display: flex
	flex-direction: column
	justify-content: center
	@include up-to(large)
		padding-bottom: 0

.quizzhome-intro
	margin-bottom: 2.2rem
	@include up-to(medium)
		margin-bottom: 0

.quizzhome-intro strong,
	font-size: 3.8rem
	color: $orange_quizz
	font-family: $blankenhorn
   
.quizzhome-intro a	
	border-bottom: 1px dotted $orange_quizz
	display: inline-block
	padding: 0 0.8em


// QUESTIONS PAGES

.question-label 
	font-size: 3.8rem 
	font-weight: 400 
	font-family: $blankenhorn
	margin-top: 0 
	margin-bottom: 2.2rem 
	text-align: center
	color: $orange_quizz
	line-height: 1
	@include up-to(medium) 
		margin-bottom: 35px 
		margin-top: 35px 


.question-choices 
	display: flex
	flex-direction: column
	justify-content: center

	@include up-to(medium) 
		padding: 0 
     
   

// Form

.form-horizontal 

  fieldset 
    border: none 
    margin: 0 auto
    padding: 0
    width: 70%
    text-align: left

  .radio-item 
    margin-bottom: 2em 

  .label_radio 
    position: relative 
    display: flex 
    padding-left: 70px     
    font-style: italic 
    font-size: 1.2rem 
    align-items: center
    line-height: 1.4
    min-height: 40px
    
    &:hover 
      cursor: pointer 
      opacity: 0.7
     
   	&:before
   		content: ''
   		position: absolute
   		background-image: url('../assets/img/etoile.png')
   		width: 40px
   		height: 40px
   		background-size: cover
   		left: 0

  input[type="radio"] 
    position: absolute 
    width: 100% 
    height: 100% 
    left: -9999px 
   

.label_radio 
	@include up-to(medium)
    padding-left: 40px !important  
   	&:before
   		width: 20px !important
   		height: 20px !important

.form-horizontal  
	@include up-to(large) 
		fieldset
			width: 100%
  .radio-item 
    margin-bottom: 1em 


// RESULTS


header.quizzresult-header 
	position: relative 
	flex: 0 0 40%

.result_title 
  font-weight: 700 
  font-size: 3rem 
  text-transform: uppercase 
  font-family: $blankenhorn
  line-height: 1.2 
  color: $orange_quizz 
  margin: 2rem 0
   
div.result-content 
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	padding: 0 0 0 1em
	flex: 0 0 60%
	@include up-to(large)
		padding: 0
		display: block

.result-content--inner
	display: flex
	flex-direction: column
	justify-content: center
	@include at-least(large)
		overflow-y: scroll

.result_maintext
	position: relative
	max-width: 80%
	margin: 0 2rem 2rem 0
	text-align: justify
	float: right
	font-size: 1.4rem

	&:before
		content: ''
		background: transparent url("../assets/img/fleche.png") no-repeat
		position: absolute
		width: 50px
		height: 30px
		background-size: contain
		left: -65px

.result_maintext
	@include up-to(medium)
		margin: 0 auto 40px auto
		float: none

.result-actions
  color: $orange_quizz

.result_outro 
  font-family: $blankenhorn
  font-size: 1.6rem
  margin-bottom: 1rem
  letter-spacing: 0.07em
  line-height: 1.4

  a
  	border-bottom: 1px dotted


 
.result-links
	list-style: none 
  margin: 0
	display: flex
	justify-content: center

	li
		padding: 0 5px
		font-size: 1rem





// BUTTONS


