
// PAGE

.page-header
	height: 50vh


.pages-menu-item
	position: relative

	a
		border-bottom: 1px solid $red
		padding: 10px 0
		font-weight: $bold
		display: block

	&.active

		&:before
			content: '●'
			color: $red
			left: -30px
			position: absolute
			padding: 10px


.page-title
	padding: 0 0 10px 0
	border-bottom: 1px solid $red

.module-infos
	.module-title
		border-bottom: 1px solid $red
		padding-bottom: 10px
		margin-bottom: 10px

		


// ARTICLE


.post-titles
	background-color: $red
	color: $white
	padding: 2em 0 
	border-radius: 0 30px 0 0

.post-cover

	img
		height: 50vh
		object-fit: cover
		width: 100%


.post-term
	border-bottom: 2px solid $blue
	margin-right: 1em 
	padding-bottom: 5px




// EVENT