
// PAGE

.page-header
	height: 50vh


.pages-menu-item
	position: relative

	a
		border-bottom: 1px solid $secondary_color
		padding: 10px 0
		font-weight: $bold
		display: block

	&.active

		&:before
			content: '●'
			color: $secondary_color
			left: -30px
			position: absolute
			padding: 10px


.page-title
	padding: 0 0 10px 0
	border-bottom: 1px solid $secondary_color


.module-infos
	.module-title
		border-bottom: 1px solid $secondary_color
		padding-bottom: 10px
		margin-bottom: 10px


.page-content-wrapper
	@include up-to(medium)
		display: flex
		flex-direction: column

		.page-aside
			order: 2

		.page-content
			order: 1


// page Parents

.page_title
	margin-top: $base_line_height *2





// ARTICLE


.post-titles
	background-color: $secondary_color
	color: $white
	padding: 2em 0 
	border-radius: 0 30px 0 0

.post-cover

	img
		height: 50vh
		object-fit: cover
		width: 100%


.post-term
	border-bottom: 2px solid $primary_color
	margin-right: 1em 
	padding-bottom: 5px




// EVENT

.event-titles
	@extend .post-titles
	border-radius: 0 0 30px 0
	
	.label_3
    padding-right: 5px
	.label_2
		padding: 0 2px

.event-cover
	position: relative
	@extend .post-cover

	.pictos-trente
		right: 10px
		left: auto

		& > div 
			width: 125px
			
		img 
		height: auto

	.logo_festival
		right: 10px
		left: auto
			
		img
			height: auto
			object-fit: contain


.event-details
	font-weight: $bold

	.event-dateslist,
	.event-practicallist
		li
			border-bottom: 1px solid $secondary_color
			padding: 10px 0

			&:first-child
				padding-top: 0

		.label_2
			color: inherit
			vertical-align: inherit


	.event-dateslist
		padding-right: 20px


.event-scolaire
	display: flex
	align-items: center
	padding: 10px 0
	border-bottom: 1px solid $secondary_color

	.rounded-icon
		flex: 0 0 40px
		line-height: 40px
		width: 40px
		height: 40px

		span:before
			font-size: 18px

	
	p
		padding-left: 15px



.pictos-trente
  position: absolute
  bottom: 5px
  left: 5px
  z-index: 9
  display: flex

  img
  	height: auto !important

.picto-enfantsdabord
  width: 75px
  z-index: 9

.picto-trenteans
  width: 75px
  z-index: 9

.logo_festival
  position: absolute
  bottom: 5px
  left: 5px
  z-index: 9
  display: flex
  
.logo_festival img
	width: 75px !important
	z-index: 9 !important
	height: auto !important


// ACCORDEONS

.entry-accordeon 
	
.accordeon-title 

	.btn-inline
		color: $primary_color
		margin-bottom: 0

	&:hover
		cursor: pointer

		h3
			color: $secondary_color 

.open
	.btn-inline::before 
  	transform: rotate(45deg)
	.accordeon-title .btn-inline
		color: $secondary_color	

.accordeon-content 
	padding: 0 1em
	margin: 10px 0
	border-left: 1px solid $primary_color
	transition: all .5s
	overflow: hidden

	.close &
		max-height: 0

	.open &
		max-height: 200000px





	
