/* 
 * Medias
 * 
 * @package lavantseine-v2
 */

img {
  @include box-sizing;
  display: block;
  max-width: 100%;
  height: auto;
}

  .alignleft {
    float: left;
    margin-right: $base_line_height;
  }
  .alignright {
    float: right;
    margin-right: $base_line_height;
  }
  .aligncenter {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }



.bg_cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}




@import "gallery";
@import "caption";

