/*
 * Font faces
 *
 * @package lavantseine-v2
 */


 @import url('https://fonts.googleapis.com/css?family=Muli:400,700');



@font-face {
  font-family: 'Priori';
  src: url('assets/fonts/prioriRegular/PrioriSansOT-Regular.eot') format('embedded-opentype');
  src: url('assets/fonts/prioriRegular/PrioriSansOT-Regular.otf')  format('opentype'),
        url('assets/fonts/prioriRegular/PrioriSansOT-Regular.ttf')  format('truetype')  ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Priori';
  src: url('assets/fonts/prioriBold/PrioriSansOT-Bold.eot') format('embedded-opentype');
  src: url('assets/fonts/prioriBold/PrioriSansOT-Bold.otf')  format('opentype'),
        url('assets/fonts/prioriBold/PrioriSansOT-Bold.ttf')  format('truetype')  ;
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/fonts/icomoon.eot?v0mx0f');
  src:  url('assets/fonts/icomoon/fonts/icomoon.eot?v0mx0f#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon/fonts/icomoon.ttf?v0mx0f') format('truetype'),
    url('assets/fonts/icomoon/fonts/icomoon.woff?v0mx0f') format('woff'),
    url('assets/fonts/icomoon/fonts/icomoon.svg?v0mx0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
  font-size: 10px;
}
.icon-horloge:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-pop-out:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
  margin-right: 7px;
  font-size: 10px;
}
.icon-share:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
