/*
 * Heading
 *
 * @package lavantseine-v2
 */




h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: $semibold;
}

h1 {
  @include type-setting(3);
}

h2 {
  @include type-setting(3);
}

h3 {
  @include type-setting(2);
}

h4 {
  @include type-setting(3);
}

h5 {
  @include type-setting(3);
}

h6 {
  @include type-setting(3);
}


.h1 {
  @include type-setting(5);
  margin: 0;
  font-weight: $semibold;
}

.h2 {
  @include type-setting(2);
}

.h3 {
  @include type-setting(1);
  margin: 0;
}

.h4 {
  @include type-setting(3);
  margin: 0;
  font-weight: $thin;
}

.h5 {
  @include type-setting(1);
  margin: 0;
}

.h6 {
  margin: 0;
  @include type-setting(-1);
}

