/*
 * Heading
 *
 * @package lavantseine-v2
 */




h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $base_line_height;
  font-family: $font_family_title;
  text-transform: lowercase;
}

.h1 {
  @include type-setting(7);
  font-weight: 900;
  margin-bottom: 0;
}

.h2 {
  @include type-setting(6);
  font-weight: 900;
}

.h3 {
  @include type-setting(5);
  font-weight: 900;
}

.h4 {
  @include type-setting(4);
  font-weight: 900;
}

.h5 {
  @include type-setting(3);
  font-weight: 900;
  margin-bottom: $base_line_height / 2;
}

.h6 {
  @include type-setting(2);
}

.meta {
  font-family: $font_family_title;
  text-transform: uppercase;
  font-weight: $bold;
  display: inline-block;
}

.meta-date {
  @extend .meta;
	@include type-setting(2);
}

.eventmeta-term {
  @extend .meta;
  @include type-setting(1);
  background-color: $color_primary;
  padding: 0.5em 1em;
  color: $white;
}
.postmeta-term {
  @extend .meta;
  @include type-setting(1);
  background-color: $black;
  padding: 0.3em 0.7em 0.1em;
  color: $white;
}


  .title-diamond { 
    font-size: 0.6em;
  }

