/* 
 * Menu
 * 
 * @package lavantseine-v2
 */

$menu_height 	: 50px;
$logo_width		: 100px;



.site-menus {
	display: block;
	padding-left: $logo_width;
	position: relative;
	font-family: $font_family_nav;
	
	ul {
		@extend .no-bullets;
	}
}

	
	.menu-principal-container,
	.menu-menu-top-container {
		.menu-item {
			@include type-setting(-2);
			float: left;	
			text-transform: uppercase;
			line-height: inherit !important;
			padding: 0 0.7em;
			font-weight: $bold;
		}
	}



.siteMenus-primary {
	float: left;
}
	.js-menuTrigger {
		background-color: $color_primary;
		color: $white;
	}



.siteMenus-secondary {
	float: right;
}
	.siteMenus-searchform {
		display: none;
	}
	.booking-link {
		background-color: $color_primary;
		color: $white;
	}



.ham-menu {
	display: none;
	background-color: $color_primary;
	color: $white;
	position: absolute;
	left: 100px;
	right: 0;
	top: $menu_height;
	padding-top: $base_line_height;
	padding-bottom: $base_line_height;

	&.active {
		display: block;
	}
}
	.menu-menu-hamburger-container > ul {
		display: flex;
		line-height: normal;

		& > .menu-item {
			padding-left: $base_line_height;

			& > a {
				@include type-setting(3);
				font-weight: $bold;
			}
		}

		.sub-menu {
			margin-top: $base_line_height;
			@include type-setting(0);
			font-family: $font_family_paragraph;
		}
	}





