/* 
 * Menu
 * 
 * @package lavantseine-v2
 */


.main-navigation {
	ul {
		@extend .no-bullets;
	}
}
	.menu-item {
		float: left;	
		margin-right: 10px;
	}


	.ham-menu {
		background-color: $white;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		&.active {
			display: block;
		}
	}