/* 
 * Menu
 * 
 * @package lavantseine-v2
 */




.site-menus {
	display: block;
	font-family: $font_family_nav;
	
	ul {
		@extend .no-bullets;
	}

	.icon-menu,
	.icon-pop-out,
	.icon-close {
		font-size: 15px;
		margin-right: 5px;
	}
}

	
	#primary-menu,
	.menu-menu-top-container {
		.menu-item {
			@include type-setting(-2);
			float: left;	
			text-transform: uppercase;
			line-height: inherit !important;
			padding: 0 0.5em;
			font-weight: $bold;

			a {
				font-family: $font_family_nav;

			}
		}
	}



.siteMenus-primary {
	float: left;
}
	.js-menuTrigger {
		background-color: $color_primary;
		color: $white;
	}



.siteMenus-secondary {
	float: right;
	position: relative;
}
	.booking-link {
		background-color: $color_primary;
		color: $white;
	}



.ham-menu {
	display: none;
	background-color: $color_primary;
	color: $white;
	position: absolute;
	left: 100px;
	right: 0;
	left: 0;
	top: $menu_height;
	padding-top: $base_line_height * 2;
	padding-bottom: $base_line_height * 2;
	z-index: 9999;
	
	&.active {
		display: block;
	}
}
	.menu-menu-hamburger-container > ul {
		display: flex;
		line-height: normal;

		& > .menu-item:not(:first-child) {
			padding-left: $base_line_height;
		}
			& > .menu-item > a {
				@include type-setting(3);
				font-weight: $bold;
			}

		.sub-menu {
			margin-top: $base_line_height;
			@include type-setting(0);
			font-family: $font_family_paragraph;
		}
	}





