
/*
 * 1 | 2 | .....
 */

%nav_pager {
  text-align: right;

  li {
    @include type-setting(-1);
    display: inline-block;
    margin-right: $base_line_height / 2;
    padding-left: $base_line_height / 2;
    padding-right: $base_line_height / 2;
    background-color: $white;
    
    &.active {
      background: none;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.results_nav {
  margin-bottom: $base_line_height;
}

.nav_pager-top {
  @extend %nav_pager;

  @include up-to(medium) {
    display: none;
  }
}
.nav_pager-bottom {
  @extend %nav_pager;

  @include up-to(medium) {
    text-align: center;
  }
}


.nav_postperpage {

  @include up-to(medium) {
    margin-bottom: $base_line_height * 2;
  }
}




/*
 * NEXT/PREV RESSOURCES
 */

.nav_next {
    text-align: right;
    margin-top: $base_line_height;
}